[2015-08-23 17:41] GoogleCodeExporter opened #1 "Limit results by date range?"
[code]

Original issue reported on code.google.com by `jim.k...@simplivt.com` on 30 Apr 2013 at 12:29

[2015-08-23 17:41] #1 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #2 "Problem with non-ascii filenames"
[code]

Original issue reported on code.google.com by `robert.e...@gmail.com` on 13 May 2013 at 9:58

[2015-08-23 17:41] #2 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #3 "Weeks are not zero padded in timeline view. Results in bad sorting"
[code]

Original issue reported on code.google.com by `kashy...@gmail.com` on 12 Jun 2013 at 5:45

Attachments:
- [bad.txt](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-3/comment-0/bad.txt)
- [good.txt](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-3/comment-0/good.txt)

[2015-08-23 17:41] #3 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #4 "UnicodeDecodeError: 'unicodeescape' codec can't decode byte 0x5c"
[code]

Original issue reported on code.google.com by `kadish...@gmail.com` on 14 Jun 2013 at 6:25

[2015-08-23 17:41] #4 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #5 "Feature request: Exclude authors."
[code]

Original issue reported on code.google.com by `wb...@jitsolutions.pl` on 19 Jun 2013 at 11:46

[2015-08-23 17:41] #5 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #6 "UnicodeEncodeError: 'charmap' codec can't encode character u'\u20ac'"
[code]

Original issue reported on code.google.com by `hdeis...@gmail.com` on 20 Jun 2013 at 9:43

[2015-08-23 17:41] #6 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #7 "Enhancement: option to exclude merges from stats"
[code]

Original issue reported on code.google.com by `Jovanovi...@gmail.com` on 22 Jun 2013 at 2:00

[2015-08-23 17:41] #7 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #8 "New input format support request: LaTeX"
[code]

Original issue reported on code.google.com by `iocheson...@gmail.com` on 29 Jun 2013 at 10:12

[2015-08-23 17:41] #8 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #9 "Script fails with exception when encountering UTF-8 character"
[code]

Original issue reported on code.google.com by `johntaj...@gmail.com` on 12 Jul 2013 at 10:26

[2015-08-23 17:41] #9 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #10 "Show modified lines percentage (code stability)"
[code]

Original issue reported on code.google.com by `julien.f...@kitware.com` on 19 Jul 2013 at 1:19

[2015-08-23 17:41] #10 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #11 "Translation to Chinese"
[code]

Original issue reported on code.google.com by `gitinspe...@ejwa.se` on 21 Jul 2013 at 1:07

[2015-08-23 17:41] GoogleCodeExporter opened #12 "gitinspector crashed on Windows 8"
[code]

Original issue reported on code.google.com by `wangzhij...@gmail.com` on 22 Jul 2013 at 1:49

[2015-08-23 17:41] #12 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #13 "Error message typo"
[code]

Original issue reported on code.google.com by `cringt...@gmail.com` on 24 Jul 2013 at 4:47

Attachments:
- [0001-Fix-typo-in-error-message.patch](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-13/comment-0/0001-Fix-typo-in-error-message.patch)

[2015-08-23 17:41] #13 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #14 "Add support for bare repositories"
[code]

Original issue reported on code.google.com by `cringt...@gmail.com` on 24 Jul 2013 at 5:44

Attachments:
- [0001-Initial-support-for-bare-repos.patch](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-14/comment-0/0001-Initial-support-for-bare-repos.patch)

[2015-08-23 17:41] #14 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #15 "Speed up the changes module"
[code]

Original issue reported on code.google.com by `gitinspe...@ejwa.se` on 30 Jul 2013 at 12:57

[2015-08-23 17:41] GoogleCodeExporter opened #16 "Translation to Polish"
[code]

Original issue reported on code.google.com by `kamila.chyla` on 23 Aug 2013 at 8:44

Attachments:
* [messages_pl.po](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-16/comment-0/messages_pl.po)

[2015-08-23 17:41] GoogleCodeExporter opened #17 "Fails to load static resources in egg installation"
[code]

Original issue reported on code.google.com by `tobias.o...@gmail.com` on 14 Oct 2013 at 4:35

[2015-08-23 17:41] #17 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #18 "Support remote repositories"
[code]

Original issue reported on code.google.com by `cringt...@gmail.com` on 18 Oct 2013 at 4:03

[2015-08-23 17:41] #18 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #19 "Running script on headless terminal causes exception"
[code]

Original issue reported on code.google.com by `gray...@gmail.com` on 9 Nov 2013 at 1:00

[2015-08-23 17:41] #19 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #20 "Translation to Italian"
[code]

Original issue reported on code.google.com by `lucamot` on 12 Nov 2013 at 10:05

Attachments:
* [messages_it.po](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-20/comment-0/messages_it.po)

[2015-08-23 17:41] GoogleCodeExporter opened #21 "[deleted issue]"
[code]

[2015-08-23 17:41] #21 closed, assigned to nobody

[2015-08-23 17:41] GoogleCodeExporter opened #22 "Add support for incremental statistics"
[code]

Original issue reported on code.google.com by `gitinspe...@ejwa.se` on 15 Nov 2013 at 12:50

[2015-08-23 17:41] GoogleCodeExporter opened #23 "Migrate into github"
[code]

Original issue reported on code.google.com by `jky239` on 24 Dec 2013 at 8:41

[2015-08-23 17:41] #23 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #24 "Support for multiple repositories"
[code]

Original issue reported on code.google.com by `lapoussi...@gmail.com` on 2 Feb 2014 at 5:25

[2015-08-23 17:41] GoogleCodeExporter opened #25 "Translation to German"
[code]

Original issue reported on code.google.com by `supertu...@gmail.com` on 9 Feb 2014 at 2:17

[2015-08-23 17:41] GoogleCodeExporter opened #26 "Use the same author colors in different report sections"
[code]

Original issue reported on code.google.com by `lapoussi...@gmail.com` on 10 Feb 2014 at 4:08

[2015-08-23 17:41] #26 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #27 "Translation to Russian"
[code]

Original issue reported on code.google.com by `sapfee...@gmail.com` on 15 Apr 2014 at 12:40

Attachments:
- [messages_ru.mo](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-27/comment-0/messages_ru.mo)
- [messages_ru.po](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-27/comment-0/messages_ru.po)

[2015-08-23 17:41] GoogleCodeExporter opened #28 "Responsive HTML theme"
[code]

Original issue reported on code.google.com by `tomhodg...@gmail.com` on 15 Apr 2014 at 9:52

[2015-08-23 17:41] GoogleCodeExporter opened #29 "Doesn't start when using "C" locale"
[code]

Original issue reported on code.google.com by `vzeitlin@gmail.com` on 7 Jun 2014 at 9:21

Attachments:
- [gitinspector-lang-c.diff](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-29/comment-0/gitinspector-lang-c.diff)

[2015-08-23 17:41] #29 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #30 "Second pie chart legend is wrong"
[code]

Original issue reported on code.google.com by `vzeitlin@gmail.com` on 7 Jun 2014 at 9:23
- Merged into: #26

[2015-08-23 17:41] #30 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #31 "Release on pypi"
[code]

Original issue reported on code.google.com by `jfilippi...@gmail.com` on 14 Jul 2014 at 6:33

[2015-08-23 17:41] GoogleCodeExporter opened #32 "Doesn't run on OS X 10.10b6"
[code]

Original issue reported on code.google.com by `nik...@saers.com` on 20 Aug 2014 at 12:47

[2015-08-23 17:41] #32 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #33 "Filter Commit"
[code]

Original issue reported on code.google.com by `joey@jyore.com` on 27 Aug 2014 at 2:54

[2015-08-23 17:41] #33 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #34 "Use HTTPS for JQuery and Gravatar"
[code]

Original issue reported on code.google.com by `aceba...@gmail.com` on 9 Oct 2014 at 3:45

Attachments:
- [https.patch](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-34/comment-0/https.patch)

[2015-08-23 17:41] #34 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #35 "Brittle email detection in git-blame output"
[code]

Original issue reported on code.google.com by `d...@aueb.gr` on 23 Oct 2014 at 1:36

Attachments:
- [0001-More-stable-author-email-extraction.patch](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-35/comment-0/0001-More-stable-author-email-extraction.patch)

[2015-08-23 17:41] #35 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #36 "Assumption regarding the location of the Python interpreter not always correct"
[code]

Original issue reported on code.google.com by `d...@aueb.gr` on 23 Oct 2014 at 1:41

Attachments:
- [0001-Remove-assumption-of-Python-path.patch](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-36/comment-0/0001-Remove-assumption-of-Python-path.patch)

[2015-08-23 17:41] #36 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #37 "UnicodeDecodeError: 'unicodeescape' codec can't decode bytes"
[code]

Original issue reported on code.google.com by `chiang.x...@gmail.com` on 27 Oct 2014 at 7:37

[2015-08-23 17:41] #37 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #38 "Translation to French"
[code]

Original issue reported on code.google.com by `yannick....@gmail.com` on 2 Nov 2014 at 9:12

Attachments:
* [messages_fr.po](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-38/comment-0/messages_fr.po)

[2015-08-23 17:41] GoogleCodeExporter opened #39 "Missing or updated messages in the .pot file"
[code]

Original issue reported on code.google.com by `yannick....@gmail.com` on 2 Nov 2014 at 9:18

[2015-08-23 17:41] #39 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #40 "Recognize comments in Ada and OCaml"
[code]

Original issue reported on code.google.com by `yannick....@gmail.com` on 2 Nov 2014 at 9:38

Attachments:
- [0001-Recognize-comments-in-Ada-and-OCaml.patch](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-40/comment-0/0001-Recognize-comments-in-Ada-and-OCaml.patch)

[2015-08-23 17:41] #40 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #41 "Add templating support"
[code]

Original issue reported on code.google.com by `gitinspe...@ejwa.se` on 4 Nov 2014 at 9:39

[2015-08-23 17:41] GoogleCodeExporter opened #42 "'charmap' codec can't encode character '\u0308'"
[code]

Original issue reported on code.google.com by `Niklas.L...@gmail.com` on 4 Nov 2014 at 4:20

[2015-08-23 17:41] #42 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #43 "typo in description"
[code]

Original issue reported on code.google.com by `elan.ruu...@gmail.com` on 8 Nov 2014 at 5:06

[2015-08-23 17:41] #43 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #44 "Patch: Gracefully handle non-git-repo path"
[code]

Original issue reported on code.google.com by `debian.k...@gmail.com` on 8 Nov 2014 at 9:02

Attachments:
- [0001-Gracefully-handle-non-git-repo-path.patch](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-44/comment-0/0001-Gracefully-handle-non-git-repo-path.patch)

[2015-08-23 17:41] #44 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #45 "Create documentation (in AsciiDoc or similar)"
[code]

Original issue reported on code.google.com by `debian.k...@gmail.com` on 8 Nov 2014 at 9:58

Attachments:
- [gitinspector.1](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-45/comment-0/gitinspector.1)

[2015-08-23 17:41] #45 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #46 "Decoding issue with email"
[code]

Original issue reported on code.google.com by `Jon.Warg...@gmail.com` on 17 Nov 2014 at 9:21

[2015-08-23 17:41] #46 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #47 "gitinspector --metrics errs out on paths with spaces"
[code]

Original issue reported on code.google.com by `virg...@gmail.com` on 17 Nov 2014 at 10:44

[2015-08-23 17:41] #47 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #48 "Footer is missing in htmlembedded output"
[code]

Original issue reported on code.google.com by `debian.k...@gmail.com` on 22 Nov 2014 at 7:46

[2015-08-23 17:41] #48 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #49 "Support for Haskell comments"
[code]

Original issue reported on code.google.com by `lapoussi...@gmail.com` on 4 Dec 2014 at 6:31

Attachments:
- [0001-Recognize-Haskell-.hs-comments.patch](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-49/comment-0/0001-Recognize-Haskell-.hs-comments.patch)

[2015-08-23 17:41] #49 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #50 "Add JSON support"
[code]

Original issue reported on code.google.com by `gitinspe...@ejwa.se` on 8 Dec 2014 at 9:53

[2015-08-23 17:41] GoogleCodeExporter opened #51 "Translation to Korean"
[code]

Original issue reported on code.google.com by `yes...@gmail.com` on 15 Dec 2014 at 5:26

Attachments:
- [messages_ko.po](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-51/comment-0/messages_ko.po)
- [gitinspector.py](https://storage.googleapis.com/google-code-attachments/gitinspector/issue-51/comment-0/gitinspector.py)

[2015-08-23 17:41] GoogleCodeExporter opened #52 "filter-in functionality"
[code]

Original issue reported on code.google.com by `av9...@gmail.com` on 22 Dec 2014 at 12:49

[2015-08-23 17:41] #52 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #53 "Locale issues when running on Yosemite"
[code]

Original issue reported on code.google.com by `niklas.o...@gmail.com` on 26 Dec 2014 at 9:44
- Merged into: #32

[2015-08-23 17:41] #53 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #54 "Terminal encoding error when running on Yosemite"
[code]

Original issue reported on code.google.com by `niklas.o...@gmail.com` on 26 Dec 2014 at 9:47
- Merged into: #9

[2015-08-23 17:41] #54 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #55 "Localization fails with (TypeError: must be string, not None)"
[code]

Original issue reported on code.google.com by `jamespst...@gmail.com` on 30 Jan 2015 at 4:12

[2015-08-23 17:41] #55 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #56 "Metrics are collected with issues if there are spaces in files or directories names"
[code]

Original issue reported on code.google.com by `andrey.v...@gmail.com` on 2 Feb 2015 at 7:18
- Merged into: #47

[2015-08-23 17:41] #56 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #57 "Filtering by comment"
[code]

Original issue reported on code.google.com by `andrey.v...@gmail.com` on 2 Feb 2015 at 7:19

[2015-08-23 17:41] GoogleCodeExporter opened #58 "No commited files with the specified extensions were found"
[code]

Original issue reported on code.google.com by `siko...@gmail.com` on 9 Feb 2015 at 9:20

[2015-08-23 17:41] #58 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #59 "Support for comments/metrics in C# code"
[code]

Original issue reported on code.google.com by `jrnai...@gmail.com` on 19 Feb 2015 at 5:03

[2015-08-23 17:41] GoogleCodeExporter opened #60 "Add support for extensionless files in --file-types."
[code]

Original issue reported on code.google.com by `broad...@gmail.com` on 20 Feb 2015 at 11:39

[2015-08-23 17:41] GoogleCodeExporter opened #61 "Not all commits and authors are showing up"
[code]

Original issue reported on code.google.com by `Catalin....@gmail.com` on 26 Feb 2015 at 7:33
- Merged into: #60

[2015-08-23 17:41] #61 closed, assigned to adam-waldenberg

[2015-08-23 17:41] GoogleCodeExporter opened #62 "[deleted issue]"
[code]

[2015-08-23 17:41] #62 closed, assigned to nobody

[2015-08-23 17:41] GoogleCodeExporter opened #63 "Zero division error"
[code]

Original issue reported on code.google.com by `kamila.chyla` on 15 Apr 2015 at 6:17

[2015-08-23 17:41] GoogleCodeExporter opened #64 "Moving off of Google Code?"
[code]

Original issue reported on code.google.com by `Jmcma...@lookoutgaming.com` on 17 Jul 2015 at 1:20

[2015-08-23 22:01] adam-waldenberg commented on #64
We are now officially on github.

[2015-08-23 22:02] #64 closed

[2015-08-25 00:15] adam-waldenberg commented on #31
If anyone is interested in maintaining this; volunteers are welcome.

[2015-08-25 00:24] #63 closed

[2015-08-25 00:27] adam-waldenberg commented on #63
Done.

[2015-09-01 09:01] guckykv opened #66 "typo - remove it"

[2015-09-01 09:02] #66 closed

[2015-09-07 01:00] diwu1989 commented on #24
I really need this feature too, looking forward to this.

[2015-09-19 22:51] #15 closed

[2015-09-19 22:59] adam-waldenberg commented on #15
Some benchmarks shows the speed up achieved:

[code]

This is with the full analysis runing, including the blame output, which is consuming most of the elapsed time.

[2015-09-24 01:39] #57 closed

[2015-09-24 02:09] adam-waldenberg commented on #59
I decided to skip the PowerShell part of this issue. It does not feel as important as the C# support. Furthermore, I don't have a good grasp on it.

[2015-09-24 02:11] #59 closed

[2015-09-24 09:06] brablc opened #68 "Analysis bugs introduced by aeb9ad6"
Commit aeb9ad69f93f480fa7ac1df231a9864b9c386369 broke generating for me (OSX):
[code]

I'm running gitinspector with these arguments:
`gitinspector.py --file-types=php,tpl,css,js --format=html --timeline=true --responsibilities=true --metrics=true --exclude=file:cms/libs,file:admin/templates/emails,revision:8543c2474ade9a84df6ae5726ea89c825b12d721 --weeks=false '--since=last monday'`

[2015-09-24 19:35] adam-waldenberg commented on #68
The cut & paste grinch strikes again. It should be referencing self.commits, not commits. I'll push up a fix shortly.

[2015-09-24 19:42] adam-waldenberg commented on #68
Done. The above fix *should* clear up the issue.

[2015-09-24 22:30] mikkhait opened #69 "One Report - Multiple Repos"
I have a number of repositories and I would like to understand cumulative statistics across.

Can it be done out of the box?

[2015-09-24 23:09] adam-waldenberg commented on #69
Hi. There is an issue about this. It is currently not supported, but on the TODO list. Somebody previously reported they were using "git subtree" to achieve cumulative stats. Please refer to issue #24 for the discussion and the enhancement request.

[2015-09-24 23:10] #69 closed

[2015-09-25 12:22] RafaelGorski opened #70 "Python 3 compatibility of 0.4.2dev (TypeError: can't multiply sequence by non-int of type 'float')"
Hi tried to run the following command with Python 3.4.3 and the following error happen:

py.exe ../gitinspector/gitinspector/gitinspector.py --since="3 weeks ago" -wTHl .
Statistical information for the repository 'src' was gathered on 2015/09/25.
Traceback (most recent call last):
  File "../gitinspector/gitinspector/gitinspector.py", line 194, in <module>
    main()
  File "../gitinspector/gitin

[2015-09-25 20:29] adam-waldenberg commented on #70
Good catch. The last stable release here on GitHub (0.4.1) should work as well. I need to improve the test suite of gitinspector to catch these things when they pop up. I actually haven't tested the current dev branch with Python 3. I tend to do an overhaul before making a new release.

In any case, I'll look at Python 3 compatibility tonight. More than one thing tends to break.

[2015-09-25 22:26] #70 closed

[2015-09-25 22:27] adam-waldenberg commented on #70
There. The above commit should have fixed it.

[2015-09-25 23:52] #60 closed

[2015-09-25 23:54] adam-waldenberg commented on #60
Done. See the above commit for information on how to use this functionality.

[2015-09-27 11:11] adam-waldenberg commented on #24
This has been postponed for 5.0 because the feature needs some refactoring to the code before this can be implemented in a proper and clean way. After 0.4.x development is done, this feature will be the next thing added together with a new responsive HTML output based on Bootstrap.

[2015-09-27 18:56] dzhus commented on #24
Cool. I am the original reporter, keeping an eye on this.

[2015-09-29 13:38] brablc commented on #68
Now I have this on HEAD:
[code]
This seems to be unrelated bug? Should I reported separately?

[2015-09-29 13:48] adam-waldenberg commented on #68
It's directly related to the same change (aeb9ad6).. So we can keep it here.

Could you try to print out the length of "lines" on row 192 when this happens ? Is git rev-list maybe returning an empty result?

[2015-09-29 14:25] brablc commented on #68
Yes, it is empty. I do a set of statistics (weekly, monthly) and some repos do not have changes. However, I believe there is a problem with indentation on line 203, which is creating scope for local variable.

[2015-09-29 19:52] adam-waldenberg commented on #68
Actually, lines 204-206 should be moved one indent block backwards. It won't change the behavior. The else is intended as an else/finalization condition for the for loop (https://docs.python.org/2/tutorial/controlflow.html#break-and-continue-statements-and-else-clauses-on-loops). The problem is that it can enter the else immediately if there are no new commits. Thus resulting in "entry" not being

[2015-09-29 20:10] adam-waldenberg commented on #68
Done. Hopefully all sorted out now.

[2015-09-30 08:59] brablc commented on #68
Still not quite there:

[code]

[2015-09-30 12:55] adam-waldenberg commented on #68
This time it's a bit more tr

[2015-09-30 13:07] adam-waldenberg opened #72 "Extend test suite to check filtering rules and commit intervals"
We need to be able to easier detect when gitinspector is broken by "bigger" changes such as the one
introduced by revision aeb9ad6.

[2015-09-30 13:10] #68 closed

[2015-09-30 13:13] adam-waldenberg commented on #68
Let's hope for the best this time. Also, I opened issue #72 in order to mitigate the  hit caused by bigger changes in the future.

[2015-10-01 12:10] brablc commented on #68
Thank you very much. Now it is working.

[2015-10-02 02:21] adam-waldenberg commented on #51
Hi. A new messages.pot has been added with commit 47b11ad, so an update is needed to the translation file. Refter to the commit diff to see all changes.

Has any more work been done to this translation? If finished, it can be included in the upcoming 0.4.2 release.

[2015-10-02 02:21] adam-waldenberg commented on #38
Hi. A new messages.pot has been added with commit 47b11ad, so an update is needed to the translation file. Refter to the commit diff to see all changes.

Once updated, the translation can be included in the upcoming 0.4.2 release.

[2015-10-02 02:23] adam-waldenberg commented on #27
Hi. A new messages.pot has been added with commit 47b11ad, so an update is needed to the translation file. Refer to the commit diff to see all changes.

Once updated, the translation can be included in the upcoming 0.4.2 release.

[2015-10-02 02:24] adam-waldenberg commented on #25
Hi. A new messages.pot has been added with commit 47b11ad, so an update is needed to the translation file. Refer to the commit diff to see all changes.

Once updated, the translation can be included in the upcoming 0.4.2 release.

[2015-10-02 02:25] adam-waldenberg commented on #20
Hi. A new messages.pot has been added with commit 47b11ad, so an update is needed to the translation file. Refer to the commit diff to see all changes.

Once updated, the translation can be included in the upcoming 0.4.2 release.

[2015-10-02 02:26] adam-waldenberg commented on #16
Hi. A new messages.pot has been added with commit 47b11ad, so an update is needed to the translation file. Refer to the commit diff to see all changes.

Once updated, the translation can be included in the upcoming 0.4.2 release.

[2015-10-02 02:26] adam-waldenberg commented on #11
Hi. A new messages.pot has been added with commit 47b11ad, so an update is needed to the translation file. Refer to the commit diff to see all changes.

Once updated, the translation can be included in the upcoming 0.4.2 release.

[2015-10-07 22:14] xxyy commented on #25
I will see if I can find time to update the translation for the release, don't count on it though.

[2015-10-08 10:47] adam-waldenberg commented on #25
Hi. No worries. Do it when you have time available. We can always make an extra 0.4.3 release for any translations that don't make it into 0.4.2.

[2015-10-14 20:03] marcharper opened #73 "Imports in egg installations broken with commit 34337de."
Python 2.7.9 (ubuntu)

The gitinspector_0.4.2-1_all.deb release works fine but the latest master (installed with `sudo python setup.py install` generates the following traceback:

user@tower:~/repos/axelrod/Axelrod$ gitinspector -F text
Traceback (most recent call last):
  File "/usr/local/bin/gitinspector", line 9, in <module>
    load_entry_point('gitinspector==0.4.3.dev0', 'console_scripts', 'g

[2015-10-14 22:05] adam-waldenberg commented on #73
Hi.

I am aware of this. The error is related to commit 34337de.

It's related to the base path pointing differently in an egg installation. I'll take a closer look eventually. Currently, I'm not quite sure what the best solution is.

[2015-10-15 15:04] adam-waldenberg commented on #73
Done. This should now be resolved. Please report any problems related to this here.

[2015-10-15 15:19] marcharper commented on #73
Same error:

python 2.7.9
[code]

python 3.4
[code]

[2015-10-15 19:45] adam-waldenberg commented on #73
Hm.. Interesting ... Could you print out your sys.path right before each import ? Something like;

print(sys.path)

Hopefully that can help me track down whats going on.

[2015-10-16 21:38] ss10sb commented on #73
I'm also running into this... Don't know if this will help but I'll give you the steps I took:
Cloned repo (added the print commands before import ouputable in gitinspector.py and before import format in outputable.py)

[code]

If I fully qualify the import name (`import gitinspector.format`) it seems to work on that one and dies on the next:

[code]

[2015-10-17 16:19] luckydonald opened #74 "Merge same author with diffenent names."
Is there already an option for this I missed?

[2015-10-18 00:10] kosta-tachtevrenidis opened #75 "Inaccurate output"
It is entirely possible, I don't understand how stats are calculated. When I run 'git shortlog -sne', the number of commits vary WILDLY from when I run gitinspector (I am not specifying any time interval, trying to get stats for the entire lifetime of the branch). For the same user, git shortlog shows 317 commits while gitinspector shows 3. What am I missing?

[2015-10-18 14:38] adam-waldenberg commented on #75
Hi.

Gitinspector also tries to merge authors independently from .mailmap. If you, for example, use different auhor names. between differen commits.

So:

is the same as:

[2015-10-18 14:39] adam-waldenberg commented on #75
Hi.

Gitinspector also tries to merge authors independently from .mailmap. If you, for example, use different auhor names. between differen commits.

So:

is the same as:

[2015-10-18 14:52] adam-waldenberg commented on #74
There is a .mailmap fie. Please refer to the [FAQ](FAQ).

[2015-10-18 15:44] kosta-tachtevrenidis commented on #75
ok I made sure there are no duplicate personas.

[2015-10-19 02:13] luckydonald commented on #74
Working Link: [FAQ](https://github.com/ejwa/gitinspector/wiki/FAQ)

-------
Oh It is even the first entry. Okey. Sorry. :sweat_smile:

[2015-10-19 02:13] #74 closed

[2015-10-20 16:43] marcharper commented on #73
I think there is some confusion about how imports are searched for in python.(This [stack overflow thread](http://stackoverflow.com/questions/12229580/python-importing-a-sub-package-or-sub-module) may help.)

The issue is that the imports need to be relative. Python doesn't search the local module for imports once installed.  Adding "gitinspector" to the system path doesn't solve the issue because

[2015-10-21 03:57] marcharper commented on #73
Closed re: #76

[2015-10-21 03:57] #73 closed

[2015-10-21 16:45] adam-waldenberg commented on #50
Work has started on this.

[2015-10-23 00:39] cpatel opened #78 "Support for generating consolidated report for multiple repositories"
Hi,

It would be great to have a feature to take list of repositories on command line and generate consolidated report for all repositories in one.

Example:
Let's say I have 2 repositories in directory repo1 and repo2, then I should be able to run something like

"gitinspector --repos repo1,repo2 -F htmlembedded -w > report.html" from parent directory which will generate consolidated report for b

[2015-10-23 11:14] adam-waldenberg commented on #78
Currently being worked on and a duplicate of issue 24.

[2015-10-23 11:14] #78 closed

[2015-10-23 11:16] adam-waldenberg commented on #24
Work on this has slowly begun.

[2015-10-23 14:15] cpatel commented on #78
Missed it. Thanks I will watch that issue.

[2015-10-24 00:45] #50 closed

[2015-10-24 00:47] adam-waldenberg commented on #75
Going ahead and marking as invalid. Please notify if there is an update on this issue.

[2015-10-24 03:28] kosta-tachtevrenidis commented on #75
Adam, why did you close as invalid? What info can I provide to help troubleshoot? As I said the git shortlog and gitinspector are wildly different.

[2015-10-24 10:03] adam-waldenberg commented on #75
Because I'm fairly certain there's nothing wrong here. What happens if you do something like

gitinspector.py -f "**"

and compare that to the shortlog ?

[2015-10-24 10:21] #25 closed

[2015-10-24 16:04] ZhijieWang commented on #11
See attachment. Sorry, I was very busy with exams. Git does not allow any file format other than pictures. So the file is pated below.

# Copyright © 2012-2015 Ejwa Software. All rights reserved.
#
# This file is part of gitinspector.
#
# gitinspector is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software F

[2015-10-24 20:56] adam-waldenberg commented on #11
Hi. No worries.

You need to go through the translation and reference the latest pot file. This  .po file is using old strings from a previous .pot file. For example

[code]

is from an older file (including the translation), so is the following section;

[code]

[2015-10-24 21:07] adam-waldenberg commented on #16
Closing. Update posted with pull request #79.

[2015-10-24 21:07] #16 closed

[2015-10-24 22:02] adam-waldenberg commented on #11
Btw. The preferable way to pasting the translation here is to just create a new pull request.

[2015-10-24 22:34] ZhijieWang commented on #11
As I was combing through lie by line, I realized there are typos.

`msgid "The following repsonsibilties, by author, were found in the current revision of the repository (comments are exluded from the line count, if possible)"`

responsibilties -- > responsibilities

exlude -> exclude

[2015-10-24 22:38] adam-waldenberg commented on #11
Good catch. Create a pull request for anything you find and we can squash those typos.

[2015-10-24 22:38] ZhijieWang commented on #11
#80 PR has been created. Please review

[2015-10-25 22:08] diwu1989 commented on #31
An older version of gitinspector seems to be installable on pypi right now

[2015-10-25 22:56] adam-waldenberg commented on #31
Hi. Yes. I noticed that. However, I have no idea who's maintaining it and if they intend to continue.

[2015-10-26 01:26] adam-waldenberg commented on #38
Translation updated with pull request #81 and commits eec6741c and 21c63468.

[2015-10-26 01:26] #38 closed

[2015-10-27 23:50] #20 closed

[2015-10-28 00:05] adam-waldenberg commented on #20
Updated with commits pull request #2 and commits 58a983ed2710581dfed2caf14da418b254f7a827 and 8a0ba3dca1884e2460af68af34b39d7b2eaceab3.

[2015-10-28 22:25] #11 closed

[2015-10-28 22:40] adam-waldenberg commented on #27
Pushing this to a later milestone, seeing that I haven't heard anything for a while.

[2015-10-28 22:41] adam-waldenberg commented on #51
Pushing this to a later milestone, considering I haven't heard anything from the author for a while.

[2015-10-28 22:44] adam-waldenberg commented on #75
Checking in to see if there's any news on this ? Did my suggestions help ?

[2015-10-28 22:46] kosta-tachtevrenidis commented on #75
sorry for the delay, I am traveling this week. Hope to try it out next week :-)

[2015-10-30 17:55] sapfeer0k commented on #27
Hi, I'm sorry, was too busy. I've started translation for a master version.

[2015-10-30 21:53] adam-waldenberg commented on #27
Great!

This will not make it into a 0.4.x release, but will have to wait for 0.5.0. I don't expect many changes to the locales between 0.4.3 and 0.5.0, though. Probably just a handful of changes.

[2015-10-31 04:18] adam-waldenberg commented on #24
Almost done.

Current issues:
* It only prints out the name of the last repository specified.
* "-m" metrics is missing support for this right now.
* Progress output does not specify which repo is currently being processed.

Please test this with filtering and all the other features of gitinspector and check that it behaves as you would expect.

[2015-11-01 02:38] adam-waldenberg commented on #24
The -m flag (and metrics module) is now functional with multiple repositories.

[2015-11-02 01:32] adam-waldenberg commented on #24
The name of all the repositories should now be properly printed to stdout when generating a report.

[2015-11-02 17:24] adam-waldenberg commented on #24
I now consider this feature fully implemented, please report any problems in a new issue.

[2015-11-02 17:24] #24 closed

[2015-11-03 03:26] adam-waldenberg commented on #28
Slowly begining work on this.

[2015-11-10 11:06] adam-waldenberg opened #83 "Support for rust (.rs) files"
Add support for parsing comments and metrics in rust files (Rust programming language).

[2015-11-10 11:08] adam-waldenberg commented on #51
If anyone is willing to take over maintaining this translation, or at the very least complete it; please drop a note here.

[2015-11-11 00:40] EvanChanSLA opened #84 "gitinspector doesn't work Atlassian Stash repository"
Hi,

First, I want to thank you for creating this tool. I am able to run this tool on GITHUB but when I ran this tool on Stash repo that I cloned, it didn't show all the authors associated with commits. We have over 15 authors but it only shows 2 authors. The GITHUB repos seems to show everyone on it.

Please advise.

Thanks in advance,
Evan

[2015-11-11 06:57] adam-waldenberg commented on #84
Duplicate of issue #75. Please refer to that issue. Gitinspector filters out commits from the statistics based on file type and content. If they are not showing up, they have probably not committed any commits that gitinspector considers valid.

Use "-l" to see what file types are used and detected by gitinspector. Use "-f" to modify the list of scanned/included file types. Make sure to read throu

[2015-11-11 06:57] #84 closed

[2015-11-11 07:22] adam-waldenberg commented on #75
Added a new entry to the [FAQ](https://github.com/ejwa/gitinspector/wiki/FAQ) concerning this. Hope it helps.

[2015-11-19 23:26] adam-waldenberg commented on #75
As there has been no update for a while, I'm closing this as invalid.

[2015-11-19 23:26] #75 closed

[2015-11-20 15:52] RafaelGorski commented on #70
cool @adam-waldenberg ! I will test it early next week.

[2015-11-23 06:08] suhasxavier opened #85 "Include author email in JSON and HTML outputs."
The json response contains an "authors" array which displays user's first and last name but there is no mention of the github username. Can this also be included in the response?

[2015-11-23 12:09] adam-waldenberg commented on #85
No. Direct GitHub support is outside the scope of gitinspector; it's intended to be independent and should not depend on a hosting service. However, we could include the email in the response. Gitinspector tries to keep track of authors and their "latest" email address. That email could be included.

You can then use something like;
https://github.com/sindresorhus/github-username
... to fetch the

[2015-11-23 12:12] adam-waldenberg commented on #85
Changing the header of the issue.

[2015-11-24 20:02] #85 closed

[2015-11-24 20:03] adam-waldenberg commented on #85
Implemented. Report any problems in a fresh issue.

[2015-11-24 20:43] suhasxavier commented on #85
Works great! Thanks!

[2015-11-25 07:07] liujinf opened #86 "Support golang (.go) files"
support golang's comment and metrics.

[2015-11-25 15:27] adam-waldenberg commented on #86
While implementing comments obviously is trivial, the implementation of metrics would have to wait a while, as I am not familiar enough with the Go syntax and I would most likely miss something :).

However, pull requests are always welcome. The metrics system for cyclomatic complexity is very simple and just makes use of a list of entry and exit tokens defined as regular expressions. A short expl

[2015-11-25 15:34] adam-waldenberg opened #87 "Move comment and metric definitions out of the code."
Specifically, the following;

[code]

These could be defined externally in a configuration directory. It would separate the the definitions out
from the logic in the code and would make it easier to add additional language support.

[2015-12-03 06:22] huangzhizhong opened #88 "Support for robotframework(.robot) files"

[2015-12-04 01:33] adam-waldenberg commented on #88
@huangzhizhong

Comments are easy.. However, I'm not so sure about the metrics... I personally don't use it regularly. Is there a language grammar available somewhere?

[2015-12-04 07:07] huangzhizhong commented on #88
see also http://robotframework.org/, and [cloc](http://cloc.sourceforge.net/) has supported it, which is listed in http://cloc.sourceforge.net/#Languages

[2015-12-09 08:25] adam-waldenberg opened #89 "Support for commens in .csv and .tsv files"
The convention seems to be to allow for commented content with a '#' hash character. Considering the format, maybe comments are also required to start at the beginning of lines?

[2015-12-09 08:26] adam-waldenberg commented on #88
Removing tsv from the description, as that is a completely different format. Added a separate issue for this with issue #89.

[2015-12-10 07:55] gregrs-uk opened #91 "AttributeError when running gitinspector on a repository with no scanned files"
I came across the following error trying to run gitinspector for a repository containing Lilypond (.ly and .ily) files but no files that would be scanned by default by gitinspector. Adding the option -f ly,ily fixes the issue but it would be nice if the user could be told that no files were scanned and prompted to check that they have supplied the -f option if necessary. It would also be nice if .

[2015-12-11 23:09] adam-waldenberg commented on #91
That's a regression that probably was introduced with the support for merged reports. I'll take a look at it.

Lilypond files won't be enabled by default. However, you can enable it by default in all your repos using git config.

[2015-12-12 06:21] adam-waldenberg commented on #91
Found the culprit. This bug was introduced with the commit ecc67a31 and is caused by the initialization  of an empty Changes object (__init__ is being skipped). Taking a look at it now.

[2015-12-12 06:50] #91 closed

[2015-12-12 09:47] gregrs-uk commented on #91
Thanks Adam

[2015-12-14 03:47] adam-waldenberg commented on #91
No problem. Thank you for the report. :)

[2015-12-16 09:23] imposeren commented on #22
Can this be connected to following problem?

After some massive changes in repo gitinspector consumes all the CPU with a lot of ``git blame ...`` and does not finish repo processing for at least 4 hours.

Can anything be tuned to speedup processing or at least to reduce CPU usage?

[2015-12-16 10:41] suhasxavier opened #92 "Gather stats from multiple branches"
The current version only reports statistics for the currently active branch. Can I get statistics of all the branches combined?

[2015-12-16 13:26] adam-waldenberg commented on #22
Hi @imposeren.

Gitinspector is quite slow on very large repos with a big history, as it blames every single file.

This would partly solve it, yes. When this feature is implemented (assuming it's possible) it would mean gitinspector would not have to re-blame every single file each time you run it. Instead, it would only process the files that changed since last time, making it substantially less

[2015-12-16 14:48] adam-waldenberg commented on #92
Hi @suhasxavier.

Yes. This could work in a similar way to #24. Gitinspector will support specifying branches on the command line when supplying a repository. This has been briefly covered in #67, as well.

I'm targeting this to be implemented relatively soon, as I believe it's a very useful feature.

[2015-12-17 01:54] adam-waldenberg commented on #92
Just making a note here.

When implementing this feature, it should also include support for a syntax similar to:

`gitinspector.py <options> <repo-location>:*`

Which would gather statistics from all branches available. While useless on bigger repositories with an almost infinite number of branches, this would be a nice feature on smaller repos with few branches and would remove the need of havin

[2015-12-17 08:48] max-mykhailenko opened #93 "Locale errors"
OSX problem with locale can be resolved by adding to `~/.profile` or `~/.bash_profile`
[code]

[2015-12-17 09:27] max-mykhailenko opened #94 "Difference between SourceTree and tool statistic"
Some people in tool statistic have only 2 commits, but SourceTree in search by user give more than 50 commits. How I can debug this moment?

[2015-12-17 11:34] adam-waldenberg commented on #94
Hi @max-mykhailenko.

Most likely, gitinspector is doing exactly what it was made for. This question has come up several times in the past. See the last question covered in the [FAQ](https://github.com/ejwa/gitinspector/wiki/FAQ). Also see issues #75 and #84.

[2015-12-17 11:42] adam-waldenberg commented on #93
Yes. This is a known "bug"in OS X in conjunction with  any application that has locale support using gettext. Covered in issues #32 and #54 (amongst others).

Maybe it's time for a wiki document covering different problems that can be encountered with different OS's. I'll look into that eventually... Most of the strange issues encountered are (most of the time) directly related to Windows installa

[2015-12-17 11:42] #93 closed

[2015-12-17 11:46] adam-waldenberg commented on #94
@max-mykhailenko

A tip could be to do "-f **" on the command line when starting gitinspector. This will include all commits regardless of what file extensions are covered in them. Most of the time, this is not desirable, though. As it also includes different text files and documents in the analysis.

You could also do "-l" in order to see which file extensions are being detected by gitinspector.

[2015-12-17 12:07] max-mykhailenko commented on #94
`-l` option give me the next result. Project contains php, js, twig. I'm sure that statistic is wrong for php.

[code]

`gitinspector -f ** ../holdshort.com/`

give me

[code]

[2015-12-17 12:27] max-mykhailenko commented on #94
`gitinspector --file-types=php ../holdshort.com/` give right statistic for that user

[2015-12-17 12:42] max-mykhailenko commented on #94
I understand, documentation not so clearly as can be.

need to run `gitinspector --file-types='**' ... `

[2015-12-17 13:10] max-mykhailenko commented on #94
No, I don't understand.
I use `--file-types='**'` but see only 14 commits by the user. But in that period user has more than 200 commits.
Extensions included correctly

[code]

How this is possible?

[2015-12-17 13:56] adam-waldenberg commented on #94
@max-mykhailenko

Let's see... Using `-f php` gives the correct behavior, while `-f "**"` is missing rows? That sounds unlikely.
Don't forget that  pure binary commits also tend to be skipped.

Support for `-f "**"` and `-f "*"` are fairly new and not thoroughly tested. I actually found a bug with `-f "*"`. It's including some commits with binary files - something it should not be doing.

[2015-12-17 13:59] max-mykhailenko commented on #94
@adam-waldenberg I will try to write all extensions to `--file-types` and write results above

[2015-12-17 14:01] adam-waldenberg opened #95 "Inconsistent behavior with -f "**""
Running the following two commands:

`./gitinspector.py -f "**"`
`./gitinspector -f "*,1,cfg,cpp,css,footer,header,html,in,md,po,pot,py,template,tex,txt"`

... on the gitinspector repository, should be generating the same report.

However, the first is including some binary files in the analysis (this can be seen when supplying `-r`). Those binary files should not be part of the analysis and need

[2015-12-17 14:03] adam-waldenberg commented on #94
@max-mykhailenko

Opened issue #95 which directly covers the bug with `-f "**"`.

[2015-12-17 14:05] max-mykhailenko commented on #94
`file-types` give the same result as --file-types='**' except but without one commit. I see only 13 commits instead more than 200

`gitinspector -T -l --since=2015/11/01 --file-types=php,js,twig ../holdshort.com/`

<img width="930" alt="screen shot 2015-12-17 at 4 02 47 pm" src="https://cloud.githubusercontent.com/assets/1213198/11871387/f1f5474a-a4d7-11e5-9c4c-9a884fe16650.png">
<img width="916"

[2015-12-17 14:12] adam-waldenberg commented on #94
@max-mykhailenko

What about the css,json,less,map file extensions?
So there should be over 200 commits by Evgeniy Dolgiy since November 1st?

[2015-12-17 14:19] max-mykhailenko commented on #94
@adam-waldenberg
I add that extensions but result is the same
`gitinspector -T -l --since=2015/11/01 --file-types=php,js,twig,css,map,less ../holdshort.com/`

[code]

[2015-12-17 14:34] adam-waldenberg commented on #94
In that case it seems something is causing gitinspector to filter or skip those commits... The question is what. I have not seen this behavior before. I need a repository behaving similarly in order to debug it.

You could try and see if you can find what is going on. You should be able to track down what is happening with some `print()` calls inside `gitinspector/changes.py`.

[2015-12-17 14:35] max-mykhailenko commented on #94
@adam-waldenberg okey, no problem, thanks!

[2015-12-17 14:45] adam-waldenberg commented on #94
First thing to do could be to try the git command gitinspector runs;

[code]

on the command line in order to check what you get.

[2015-12-17 15:02] max-mykhailenko commented on #94
This git log give same 14 commits

[code]

But if I add ` --all` I see much more commits.

[code]

[2015-12-17 15:25] max-mykhailenko commented on #94
What this mean from practical point of view I don't know. Want to hear your thought about it.
Thank you for your patience

[2015-12-17 16:27] adam-waldenberg commented on #94
@max-mykhailenko

AFAIK --all also includes commits from branches reachable in refs/ (not only the current one).
As of now, gitinspector only gathers commits from the currently active branch. See issue #92 for more information on this.

[2015-12-17 18:33] max-mykhailenko commented on #94
Now I see. In our team for every task we create branch and get statistic separately for each branch is impossible because we remove branch after issue was solved.

I will read documentation more accurately in the next time.

Thanks.

[2015-12-18 07:56] adam-waldenberg commented on #94
@max-mykhailenko

That would be a problem, yes. I any case, I'm marking this as invalid and closing :).

[2015-12-18 07:56] #94 closed

[2015-12-18 13:25] imposeren commented on #22
Thanks for reply. Maybe there are some options for optimizing history?

Something like this:
http://stevelorek.com/how-to-shrink-a-git-repository.html

But I do not know if removing unused files from history will affect gitinspector as it seems to operate only on existing files (cs this the correct?)

[2015-12-18 13:47] adam-waldenberg commented on #22
@imposeren

Yes. Just running "git gc" will speed things up. Sometimes  quite significantly. If you have never done it before, passing the --agressive switch might be a good idea. The following is from the git docs;

[code]

I'm not sure how much the other stuff in that article will affect processing speed, but I guess it's always worth a try.

The blame section of gitinspector only operates on ex

[2015-12-18 13:50] imposeren commented on #22
@adam-waldenberg
And one more question: does gitispector blame files excluded by '-x' option?

[2015-12-18 13:54] adam-waldenberg commented on #22
@imposeren

No. It does not.

[2015-12-18 13:55] adam-waldenberg commented on #22
@imposeren

Neither does it blame any files that have an invalid extension. Binary files are also skipped.

[2015-12-18 14:04] imposeren commented on #22
is there any way to reduce concurrency of git blame? I can see up to 8 ``git blame`` processes when git inspector runs and each consumes 40-99% of processor core

[2015-12-18 14:18] imposeren commented on #22
I can already see that there are no such options:
https://github.com/ejwa/gitinspector/blob/master/gitinspector/blame.py#L31

I'll create separate issue for these and maybe will make a pull request later

[2015-12-18 14:18] adam-waldenberg commented on #22
@imposeren

Gitinspector starts as many processes as there are threads/cores. There is no configuration option for it, and never will be. However, there is a constant at the top of changes.py and blame.py that controls the number of threads.

[2015-12-18 14:21] imposeren opened #96 "Configurable concurrency"
https://github.com/ejwa/gitinspector/issues/22#issuecomment-165788269 by @adam-waldenberg

Why there will never be such an option? I think that it's not hard to implement such an option. I was planning to submit pull request for this. What are the reasons against such an option?

Example
[code]

[2015-12-18 14:26] adam-waldenberg commented on #96
@imposeren

The reason is that it's generally something that should be automatic. If the use case is to lower the impact on the system it's generally a better solution to just renice gitinspector and it's sub-processes.

[2015-12-18 14:44] adam-waldenberg commented on #96
@imposeren

I don't know what system you are on... If it's a unix variant you can do something like;

nice -n15 ./gitinspector.py <options>

... and you should be in business.

[2015-12-20 13:34] adam-waldenberg commented on #96
There's no compelling argument for this feature, so I'm closing this.

[2015-12-20 13:34] #96 closed

[2015-12-26 00:46] adam-waldenberg opened #97 "Remove or improve the use of timeline.TimelineData.get_multiplier()"
This method is inefficient. In addition, it can probably be removed and replaced with a better solution.

[2016-01-08 15:05] henricavalcante opened #98 "Multiple sources"
Does gitinspector support multiple repositories or multiple branches in same report?

[2016-01-08 16:42] adam-waldenberg commented on #98
Hi. Yes. The current master branch does, please refer to #24 for more information on this.

[2016-01-08 16:42] #98 closed

[2016-01-12 21:16] adam-waldenberg commented on #95
It's probably a good idea to get this fixed so I'm pushing this up to an additional intermediate release in the 0.4.x series.

[2016-01-12 21:20] adam-waldenberg commented on #27
Hi Sergei.

I'm planning an intermediate 0.4.4 release before 0.5.0. If you'd like to get your translation included in that release, just use the pot file above and submit a pull request with your translation; I'll review it there.

Pushing this up to the 0.4.4 milestone for now.

[2016-01-13 12:24] fredcallagan opened #99 "Add support for PHP analysis"
Would be good to add also support for php code metrics by default.

[2016-01-13 12:33] fredcallagan commented on #99
Could you assign to me this issue so i can add the support for PHP?

[2016-01-13 12:35] fredcallagan commented on #99
In any case here is the patch:

[issue99.patch.zip](https://github.com/ejwa/gitinspector/files/88830/issue99.patch.zip)

[2016-01-13 12:38] fredcallagan commented on #99
Here's the proposed patch.

[2016-01-13 12:39] fredcallagan commented on #99
[issue99.patch.zip](https://github.com/ejwa/gitinspector/files/88835/issue99.patch.zip)

[2016-01-13 12:40] fredcallagan commented on #99
Sorry here's the patch:

[issue99.patch.zip](https://github.com/ejwa/gitinspector/files/88836/issue99.patch.zip)

[2016-01-13 22:21] adam-waldenberg commented on #99
Hi. I'll look at this as soon as I have time.

[2016-01-18 14:42] yarikoptic opened #100 "Timeline with days per month(/week in -w mode) when author contributed"
I wondered if it is possible to get a report which instead of amount of changes could just report in how many days of that month/week developer was contributing. I.e. simply a count from 0 to 31.  Ideally there should also be an option to ignore merge commits.  May be there could be an option to specify threshold of minimal amount of changes (in LOC) when to count a given day depending on amount o

[2016-01-18 14:50] yarikoptic opened #101 "Heavily garbled text output"
E.g. looking at fail2ban repository (gitinspector 0.4.3 from debian) result of running these commands:
[code]
looks like
[code]

[2016-01-18 14:53] yarikoptic commented on #101
more info -- what is happening is that my terminal size is 111x53 and progressbar indicator from gitinspector starts to climb up ruining previous lines in various spots and even climbs higher than original point where gitinspector was executed

[2016-01-18 14:59] yarikoptic opened #102 "text output - last committer lacks entry and then "Below are the number of rows..." injects in the same line"
0.4.3 in debian

[code]

[2016-01-19 08:33] adam-waldenberg commented on #100
Hi.

Merge commits are always ignored in gitinspector. Concerning the enhancement request; yes it might be useful to add the number of days contributed during a specific week/month. I think it would be best to just add that to the timeline view and show it together with the rest of the data.

A confgigurable threshold; maybe. I'm not crazy about adding additional options unless they are really nec

[2016-01-19 08:38] adam-waldenberg commented on #101
What system is this under? Are you running the master branch or one of the releases? I recently changed the behavior of how the progress bar is outputted (using \r).

[2016-01-19 08:43] adam-waldenberg commented on #102
This is a duplicate of #101 and is probably related to the progress bar.

[2016-01-19 08:43] #102 closed

[2016-01-19 12:26] yarikoptic commented on #101
Was a released version as shipped in debian proper (the latest release). I will check later today the master

On January 19, 2016 3:38:50 AM EST, Adam Waldenberg <notifications@github.com> wrote:

[2016-01-19 13:44] yarikoptic commented on #102
issue persists with master 6.20160114-57-gdaf852e.  I will provide detail in #101

[2016-01-19 13:45] yarikoptic commented on #101
with master 6.20160114-57-gdaf852e  the issue is better but not fixed fully:

[code]
As you can see that "Below" injection I have reported in #102 and then "Statistical information ..." one sitting 1 line above where original shell prompt was

[2016-01-20 18:54] adam-waldenberg commented on #101
Ok. I'm guessing this is a terminal and/or shell issue. I run Debian myself and have no issue. What terminal and shell are you using? I may then be able to reproduce it and create a workaround.

[2016-01-20 22:19] yarikoptic commented on #101
Zsh under urxvt. I will check home in different shell/terminal

On January 20, 2016 1:54:27 PM EST, Adam Waldenberg <notifications@github.com> wrote:

[2016-01-20 23:09] adam-waldenberg commented on #101
I just tried rxvt with bash;  same problem. It breaks in this terminal. At least the progress bar updates correctly.

The culprit is the terminal.clear_row() function which seems to break in this terminal. It looks like this terminal parses the \b (backspace) code beyond column zero on the current line and jumps up to the previous line.

I'll see if I can solve this differently in order not to bre

[2016-01-20 23:18] #101 closed

[2016-01-20 23:18] adam-waldenberg commented on #101
Done. The fix above should resolve it.

[2016-01-28 08:24] Sermus opened #103 "gitinspector crashes with not being able to encode a unicode character"
For me it crashes when it's invoked with
python.exe gitinspector.py -lr --format=html --file-types=c,cpp,cs,csproj,sln,sql,xaml,asmx,config,dbml,publishsettigs,bat,settings,cmd,csdef,vcxproj,saproj -x Reference,.designer.cs,GMap.NET,GlobalExpert,onvifcombined,Xmpp -l ../Code/ForestGuard  1>statJan2016.html

The symptom is:

Exception in thread Thread-2993:
Traceback (most recent call last):
  File

[2016-01-28 09:14] adam-waldenberg commented on #103
Hi.

Your terminal is probably set to standard ASCII. This is already covered in the [FAQ (https://github.com/ejwa/gitinspector/wiki/FAQ).
This is most likely related to the terminal and not gitinspector directly. See issues #9, #19 and #54 for previous discussions on this. There are also a few other issues that cover this.

Please report if any of the above fixes the issue.

[2016-01-28 09:58] Sermus commented on #103
Yes, you're right. Sorry for not reading FAQ section thoroughly enough.

2016-01-28 12:14 GMT+03:00 Adam Waldenberg <notifications@github.com>:

[2016-01-28 18:04] adam-waldenberg commented on #103
@Sermus

No worries. Great to hear that it's working. Marking as invalid and closing.

[2016-01-28 18:04] #103 closed

[2016-02-03 10:12] adam-waldenberg commented on #27
Any comments on this?

[2016-02-03 11:52] adam-waldenberg commented on #95
This should be taken care of now.

[2016-02-03 11:52] #95 closed

[2016-03-15 00:24] Subject22 opened #105 "Aliasing/combining Git user names"
Some Git users (especially new ones) make the mistake of setting their Git username to different values on different development machines. This leads to apparently fragmented contributions in GitInspectors output.

Is there a way to to tell GitInspector to combine contributions for a collection of user names and treat them as the same contributor? If not, could this please be treated as a feature

[2016-03-15 04:47] adam-waldenberg commented on #105
Hi.

Yes there is. Git itself has a fix for this. Please refer to the  [FAQ](https://github.com/ejwa/gitinspector/wiki/FAQ). First question at the top.

[2016-03-15 04:47] #105 closed

[2016-03-15 04:48] Subject22 commented on #105
Ah! Thank you very much! Sorry about that. I appreciate the help.

[2016-03-15 05:01] adam-waldenberg commented on #105
Glad to help.

[2016-03-26 00:52] AjkP commented on #99
This would be a great thing +1

[2016-03-31 02:26] mikehogeboom opened #106 "Master Branch Does not work with Phython 2.7 after Commint on October 20th"
Hello,

I recently pulled the latest code and I stepped through commit by commit and after the commit on October 20th, there appears to be an issue on Python 2.7

C:\projects\git\myrepo>gitinspector -f java,c,cc,cpp,h,hh,hpp,py,glsl,rb,
js,sql,json,groovy,html,properties,xml,gradle,md,story --since=2016-03-01 -F htm
l > 2016-03-01-statsb.html
Traceback (most recent call last):
  File "C:\projects\

[2016-03-31 02:34] adam-waldenberg commented on #106
Works fine in both Python 3 and Python 2 here. And yes, there was a major redesign done with this commit.

Are you running it via a python egg? If so, did you reinstall with setup.py ? If you run it directly from the gitinspector directory, there is now a new entry point script that you need to use;

[2016-03-31 02:36] adam-waldenberg commented on #106
To further explain, this was needed in order to better organize the different layers in gitinspector.

[2016-03-31 02:53] mikehogeboom commented on #106
I installed Python using an .msi executable and added it to my path. I was previously was using 3,4,4, but I downgraded to 2.7.11 today just to see if it would help.

Calling it in the directory with or without arguments renders the same results:

C:\projects\git\gitinspector\gitinspector>gitinspector.py
Traceback (most recent call last):
  File "C:\projects\git\gitinspector\gitinspector\gitinspec

[2016-03-31 02:56] adam-waldenberg commented on #106
Yes. You have two options;

1. Install it as an egg. This way it should work even with the revision where this error occured.
2. Jump to this revision (or later); https://github.com/ejwa/gitinspector/commit/e9eab37c83b6c4304bc0edb448c321ff5cab6c2c and then execute gitinspector/gitinspector.py instead of gitinspector/gitinspector/gitinspector.py.

[2016-03-31 02:58] mikehogeboom commented on #106
ok, thanks. I'll report back

[2016-03-31 02:58] adam-waldenberg commented on #106
Also, note that the master branch is very much "in the works" and things like the HTML output is currently broken. If you want something stable, stick to the 0.4.x branches.

[2016-04-01 00:44] mikehogeboom commented on #106
ok, good to know. btw, still no luck. I cannot seem to find documentation on how to download python as an egg. I'll as some of my DevOPs guys in the morning.

[2016-04-01 00:50] adam-waldenberg commented on #106
Hi. As you are under windows I'm not completely sure how it behaves... However, normally you just need to run the setup.py script of a python program with;

setup.py install

This is also available with gitinspector. This should install gitinspector as an egg and also generate a global gitinspector command that is available in your path. Note, that this requires python distutils or a derivative to

[2016-04-04 13:25] SirMartin opened #107 "Support for Razor .cshtml files"
It can be very nice, to increment the support to .Net languages, include .cshtml files to the stats.

[2016-04-04 13:25] SirMartin opened #108 "Support for Typescript files (.ts)"
It can be very useful add the support for typescript files, instead only plain javascript.

[2016-04-05 02:23] mikehogeboom commented on #106
Wanted to give an update. I have switched to my Mac and everything works fine (other than the HTML reports you mentioned). I tried numerous things to get it running on Windows. Not sure if other have same issues. I've solved by moving to Mac. I'll leave it up to you if we keep the bug open as I'm not an expert in Python to know if my config is correct, but I tried to stay as close to out of the bo

[2016-04-14 17:28] hjorthjort opened #109 "Locale related failures on OS X"
There is a known bug in Python which causes gitinspector to break on many OS X systems. The call `locale.getlocale()` raises an error of the user has not explicitly set certain environment variables.

This is a [known, but unresolved bug in Python](https://bugs.python.org/issue18378).

### Example problem

For example, I have the following lines in my `.zshrc`-file:

    # gitinspector fix: provid

[2016-04-15 07:40] adam-waldenberg commented on #109
Hi.

Yes. Known problem. I do not really consider this to be an issue in either Python or gitinspector. It's a misconfiguration in OS X.

Most of the hacks discussed on SO are not really proper solutions. I do not want it to fail silently either. The best solution I can think of is to perhaps spew out the warning about not being able to detect the the locale. This is already in there, but it's not

[2016-04-15 07:40] #109 closed

[2016-04-15 08:09] adam-waldenberg commented on #106
Great to hear. I don't think there is an issue, but let's keep this open for a little while anyway.

[2016-04-19 16:24] clarkmcnally opened #110 "File Output"
I am able to run the git inspector command against my repo but I want the output to save to a file rather than just spitting it out in the terminal. How can I have the output save to a file?

[2016-04-19 16:38] adam-waldenberg commented on #110
Hi. Use terminal redirection. This is already covered in the [FAQ](https://github.com/ejwa/gitinspector/wiki/FAQ).

[2016-04-19 16:38] #110 closed

[2016-05-11 06:05] tosone opened #111 "Better documentation of "percentage_in_comments" and "age"?"
I generate a json file. But I do not know that as the title said. Could you help me?

[code]

[2016-05-11 09:15] adam-waldenberg commented on #111
Yes. Of course. It means that 3.83% of all Gen Liu's rows can be found inside comments - the rest is real code.

Age is the average age (in months) of all the rows that the user has written. This can also be shown in weeks of the "-w" flag has been specified.

I can also mention that the stability value tells you that 63.7% of all the code that Gen has ever written has survived up until now.

/ Ad

[2016-05-11 17:28] tosone commented on #111
This tool is realy nice. A better dashboard to show this data is needed.

[2016-05-11 19:31] adam-waldenberg commented on #111
Thank you. Yes, gitinspector is really useful when probing an authors activity within a project. As it is now, the nicest output available is the HTML one. A new repsonsive HTML output is currently in the works and can be followed here; the https://github.com/ejwa/gitinspector/tree/issue/28 and in issue #28.

When I have time to actually finish this is another question though :). In any case, pull

[2016-05-15 05:50] pacific0437 opened #112 "what does the format date look like in --Since"
Can you give some examples about options, not only for Since.
Not everyone is good at ternimal or Linux command or other things.
The document makes me mad.
I have tried --Since=23/4/2016  --Since=2016-4-23  --Since=4/23/2016 --Since=[2016-4-23] --Since=[4/23/2016].

[2016-05-15 05:53] pacific0437 commented on #112
I also want to exclude all files in 'shared'
Is it right to type it as
-x ~/Documents/workspace/myproject/shared/**/
or
-x ~/Documents/workspace/myproject/shared/**/*.js
or
-x ~/Documents/workspace/myproject/shared/**/*.*
or
-x ~/Documents/workspace/myproject/shared/*

[2016-05-15 15:33] adam-waldenberg commented on #112
Hi.

The format of --since is in approxidate (as stated in the wiki). Approxidate is a standard that supports a myriad of formats, including textual strings like "1 month" or "3 years". Strings such as "yyyy-mm-dd" should also work fine.

The exclusion (-x) string does not need wildcard matching, this is implied by the option (as described in the wiki), unless you use regular expressions.

If you

[2016-05-16 07:41] pacific0437 commented on #112
Got it, thank you.

[2016-05-16 07:41] #112 closed

[2016-05-18 12:51] crowchirp opened #113 "typo in readme.md"
Gitinspector is a statistical analysis tool for git repositories. The **defaut** analysis shows

[2016-05-22 22:03] remram44 opened #114 "Refer to lines as "lines" instead of "rows""
The term "row" is very surprising and quite inappropriate for code. It is usually reserved for tables and the like (where columns are equally important), not for text. I'm not sure how this has been translated to other languages, but the English version "row" should probably be replaced.

(provided that it does, indeed refer to line of codes?)

[2016-05-31 20:39] adam-waldenberg commented on #114
Hi. True. In many other languages they often mean the same thing. That being said, it is also common to refer to text in ascii files in rows and columns.

I'll keep this open. Maybe it should actually be changed.

[2016-05-31 20:42] #106 closed

[2016-05-31 20:45] adam-waldenberg commented on #108
Sure. However, I have no experience with typescript, as I consider it nothing more than a gimmick (at least for now).

If you have good grasp on the grammar of the language, we do accept pull requests. You can read a short description on how to extend gitinspector with language support in issue #59.

[2016-06-26 07:15] carera opened #118 "'NoneType' object is not iterable due to bug in threading code"
Hi

for one particular repository, gitinspector just stopped working

[code]

I am running Mac OS El Capitan 10.11.4
script is being run with Python 2.7

It works for other repositories, and if I `git reset --hard HEAD^` (i.e. hard reset to second last commit), it works for this particular repository as well. The last commit that 'breaks' it containts nothing more than a couple of files changed an

[2016-06-26 09:19] adam-waldenberg commented on #118
Hi. Please see #115 and try to apply that fix. I think this might be related.

[2016-06-28 13:56] carloreggiani commented on #59
I'm trying to use gitinspector for COBOL language, but I'm feeling alone :(

Any support?

[2016-06-28 14:03] adam-waldenberg commented on #59
It's not supported, no. However, it should be easy enough to add. Again, patches/pull requests are welcome.

[2016-07-01 08:44] hanbeibei opened #119 "any one got this kinds windows error?"
PS C:\Users\oliver> gitinspector --version
Traceback (most recent call last):
  File "c:\python27\Scripts\gitinspector-script.py", line 9, in <module>
    load_entry_point('gitinspector==0.4.4', 'console_scripts', 'gitinspector')()
  File "c:\python27\lib\site-packages\gitinspector-0.4.4-py2.7.egg\gitinspector\gitinspector.py", line 121, in main
    config.init(__run__)
  File "c:\python27\lib\sit

[2016-07-01 08:47] hanbeibei commented on #119
I checked the stackoverflow, there is a solution: import os, and if os.environ['COMSPEC']  have multiple values. change it to a single one, but it not work at all..

[2016-07-01 10:16] hanbeibei commented on #119
I add 'shell = True' in c:\python27\lib\site-packages\gitinspector-0.4.4-py2.7.egg\gitinspector\config.py", line 32. and this problem seem fixed,

but there is another problem jump out:

$ gitinspector --version
Traceback (most recent call last):
  File "c:\Anaconda3\Scripts\gitinspector-script.py", line 9, in <module>
    load_entry_point('gitinspector==0.4.4', 'console_scripts', 'gitinspector')(

[2016-07-01 10:29] adam-waldenberg commented on #119
Hi @hanbeibei. First, are you using powershell when starting gitinspector? The error you are getting tells me that your shell can not map certain characters (it is unable to show them). You need to switch encoding to something that can handle UTF-8. I'm not really a Windows user, but powershell does by default iirc.

[2016-07-02 03:16] hanbeibei commented on #119
yes, I was using power shell first, then I start to use it in git shell. How should we switch the encoding?

another question is: if we use it under python 3, it seems unable to find the library under the same folder, should we add: from future import absolate_import??

[2016-07-02 07:09] adam-waldenberg commented on #119
Never tried gitinspector in git shell, so I have no idea about the supported encoding. From the above error I can see you had cp437 set as the encoding. If I recall you can use the "chcp" command in Windows to change encoding. Try "chcp 65001". It's an UTF-8 compatible code page.

gitinspector 0.4.4 fully supports python 3 and no changes should be needed. Maybe there is some problem in the way it'

[2016-07-04 03:24] hanbeibei commented on #119
Hi @adam-waldenberg,

Great appreciate for your help, I tried to modify the code in your suggestion: "from . import *, and fixed the problem.

Thanks for you kindly help!!!

[2016-07-04 03:49] hanbeibei commented on #119
Hi @adam-waldenberg ,

I think your project is very good for statistics, which can generate pretty nice report in HTML format, have you thought to integrate it with Jenkins or sonarqube? this is actually I was doing, but in a hard code way: implement shell in Jenkins.

thanks again for making this nice project happen!

[2016-07-12 09:33] adam-waldenberg commented on #119
Hi. I have seen that people use it with Jenkins... However, a real plugin would have been cool. A nice solution would be to use the XML or JSON output and display the stats in a more integrated way with Jenkins.

I won't do it any time soon, but patches are welcome ;). I would gladly add a jenkins plugin to the project if somebody did one.

I'm closing this issue :).

[2016-07-12 09:34] #119 closed

[2016-07-18 08:46] cuneyitkiris opened #120 "Missing Js lib"
All the reports that generated by gitinspector contain below errors:
`1: Uncaught ReferenceError: None is not defined `
`2: Uncaught TypeError: $(...).tablesorter is not a function`
1. error location

[code]

2.error location:
[code]
Probably 2. error depends to 1. one. Apparently, user sort in the list doesn't work and user highlight when mouse moving over pie-graph .
Report params :
[code]
My sy

[2016-07-19 01:53] adam-waldenberg commented on #120
Hi. The official Debian package is maintained by @ChristianKastner. Debian-specific changes, which I believe is what's causing this, are hosted in their repositories. As this is a debian-related problem, could you please report it to the Debian bug tracker? You can find more information about it [here](https://www.debian.org/Bugs/Reporting).

In the meantime, you can use the debian packages availa

[2016-07-19 02:04] #113 closed

[2016-07-19 02:05] adam-waldenberg commented on #113
Thank you. All taken care of.

[2016-07-19 02:08] adam-waldenberg commented on #107
Hi. This is nothing I have ever used. As I'm not comfortable with it, somebody that is will have to add the support for it. Pull requests are welcome. I'll leave this open for now.

[2016-07-19 18:59] ChristianKastner commented on #120
Hi,

I can confirm that this is a Debian-specific bug (and also affecting derivatives such as Ubuntu) caused by a typo in a patch. The patch rewrites paths to use local copies of jQuery libraries; it introduced a typo in a variable name and that broke the including of tablesorter.js.

I reported this as https://bugs.debian.org/831817 for tracking purposes.

I have just uploaded a fixed package to

[2016-07-20 18:31] adam-waldenberg commented on #120
Great. Thank you @ChristianKastner. That was quick :).

I guess we got this one nicely sorted then (no pun intended). Closing :)

[2016-07-20 18:31] #120 closed

[2016-07-25 18:01] davidjcastner opened #121 "ImportError after install on Ubuntu 16.04"
[code]

[2016-07-25 18:16] adam-waldenberg commented on #121
Hi. Seems to be a dependency issue in the debian package? A missing dependency on setuptools/distribute, perhaps? Or maybe there is an issue with setuptools/distribute in your environment.

See if running "sudo apt-get install python-setuptools" solves your problem.

@ChristianKastner is the official Debian package maintainer, so I'll let him handle the rest of this one.

[2016-07-25 18:26] davidjcastner commented on #121
It was a missing dependency and installing python-setuptools solved the issue

**solution:**

[code]

thanks!

[2016-07-25 18:52] adam-waldenberg commented on #121
Right. However, this should probably be added as a dependency to the package.

[2016-07-25 20:14] davidjcastner commented on #121
whoops sorry about that, thanks for the quick response!

[2016-07-25 20:17] ChristianKastner commented on #121
Hi David, Adam,

I can confirm that the Debian and Ubuntu packages are missing a dependency on python-pkg-resources (which python-setuptools pulled in).

I have just uploaded a fixed version to Debian unstable. Luckily I'm still behind on asking for an Ubuntu sync for #120, so I can cover both with one request.

Thanks for the report!
Christian

[2016-07-25 22:22] adam-waldenberg commented on #121
Great! Good work Christian. Closing the issue.

[2016-07-25 22:22] #121 closed

[2016-08-01 19:55] Subject22 commented on #92
Hi, any progress on this issue? This would be extremely useful for me!

[2016-08-02 15:33] adam-waldenberg commented on #92
@Subject22, Planned to be looked at once I have completed a 0.5.0 release. In the meantime, patches are welcome if anybody feels they would like a crack at it.

In the meantime, you can combine statistics from branches by checking out each branch in a separate repo/location and specifying each individual repo on the command line to gitinspector. Not perfect, but should "work".

[2016-08-02 19:25] Subject22 commented on #92
Cool, thanks! Haha, neat workaround. I'll see how I go.

[2016-08-04 14:51] vmpartner opened #122 "Unicode error"
Unicode error

![image](https://cloud.githubusercontent.com/assets/1352388/17406424/bb17b450-5a7c-11e6-8b2e-772e3faede2f.png)

[2016-08-05 01:25] adam-waldenberg commented on #122
Hi. Welcome to the wonderful world of cryptic Python unicode error messages. This can be any number of things. My first guess would be an issue with the terminal. However, there are a few things you should check before we can iron it down;

1. What codeset/encoding is the terminal configured to ?
2. Do you get the same error if you redirect output to a file ?
3. Does it behave the same in Python 3

[2016-08-05 10:30] vmpartner commented on #122
1. Its Xshell5 for Windows. Encoding UTF-8
![image](https://cloud.githubusercontent.com/assets/1352388/17434014/765358d8-5b21-11e6-85ab-feb8b2455614.png)

[2016-08-05 10:35] vmpartner commented on #122
3. I can't install **Python 3**. Current version **Python 2.7.9**
4. Latest. Git clone yesterday

[2016-08-05 10:36] vmpartner commented on #122
3.
![image](https://cloud.githubusercontent.com/assets/1352388/17434174/638037de-5b22-11e6-8fe8-c90dbc2f918d.png)

[2016-08-05 10:39] vmpartner commented on #122
In git repo we have russian **cp-1251** characters. May be this will be helpful

[2016-08-05 12:06] adam-waldenberg commented on #122
Hi @vmpartner. This particular error is, I think, related to the fix in issue #46. This change was added in order to handle escape characters in emails - something that can occur when a repository is imported into git from other revision control systems.

What happens if you remove that line and run it?  Maybe we can just ignore it and catch the exception. This line is really only used for  a part

[2016-08-08 19:29] vmpartner commented on #122
Yes, its work now. Nice program ;)

[2016-08-09 21:53] adam-waldenberg commented on #122
Great. I will implement a fix at a later point. Thank you. Keeping it open for now.

[2016-08-13 10:35] gandreadis opened #123 "Dutch translation"
I have translated the `.pot` into Dutch, and have the `.po` file ready. Is the preferred way to contribute translations after the Google Code Export still via issues? Do you want me to attach the file here, or should I rather fork the repo and open a pull request for it with the file added?

[2016-08-19 07:38] tomriddly commented on #118
@adam-waldenberg I found the issure may cause by uncommited(maybe unpushed?) changes. I think this might be helpful;-)

[2016-08-23 21:14] adam-waldenberg commented on #123
Hi @gandreadis. Pull requests are prefered as it makes it easier to attribute the contribution to you. It's also the prefered way if any additional changes are needed.

[2016-08-25 07:39] koppor commented on #106
Same issue here on Win 10. Solution was to switch back to f2a4cb9.

[2016-08-25 07:45] adam-waldenberg commented on #106
That commit is doing a hack by manually adding a path, so it's not a solution. Make sure you are using the right script when starting gitinspector. Use gitinspector.py in the root. Not gitinspector/gitinspectgor.py. This won't work anymore.

[2016-09-12 09:37] vassilevsky commented on #122
I have successfully ran gitinspector on OS X after applying this solution:

https://coderwall.com/p/-k_93g/mac-os-x-valueerror-unknown-locale-utf-8-in-python

I think it needs to be added to this project's README or FAQ. Which one is better?

[2016-09-12 09:45] adam-waldenberg commented on #122
Hi @vassilevsky. None. As it doesn't really concern gitinspector (it affects all Python applications under OS X), I think we will add a a specific FAQ for OS/Python specific errors eventually. There are some errors related to Windows that might be worth mentioning as well. For the particular error you reported, there are several old bugs discussing this, for example #109, #93, #53, #32 and #9 to n

[2016-09-19 06:39] MosesKim commented on #51
Hi, I'd like to maintain Korean translation work from now.
Which out be nice maintaining this pull request or making new pull request?

I have been leading translation work for SonarQube Korean Pack now.
https://github.com/SonarQubeCommunity/sonar-l10n-ko

[2016-09-19 10:53] adam-waldenberg commented on #51
Hi. Thank you. Welcome to the team :)

Just make a new pull requests and reference this issue from there. If I see a problem, I'll let you know of any changes needed in the new pull request. Don't forget to add your full name to the translation header.

When changes are needed to the translation I will notify you in this issue. This doesn't happen very often, but from time to time some modificatio

[2016-09-20 01:54] MosesKim commented on #51
@adam-waldenberg

Good. I will reference this issue on my new pull request for Korean translation :)
You comment would be so much appreciated for my further work.

See you on my new pull requset.

[2016-09-23 07:14] sschuberth opened #128 "Have statistics per programmining language, not only file extensions"
I would be nice to map file extension to programming languages, and then amend the "is mostly responsible for" with something saying e.g. "C++ code". This is useful to identify domain experts for a specific language, esp. when looking at the combined analysis of multiple repositories.

[2016-09-23 13:58] adam-waldenberg commented on #128
Hi. Yes, that might be something fun to add. I'll keep the feature request. It's an easy addition and might serve useful. It might also be interesting to add a toplist of a specific authors most edited languages. That is, instead of just adding one, we add a few.

I'll add it to the todo list :)

[2016-09-24 17:55] bonanza123 opened #129 "Advanced Statistics and Ranking"
would it be possible to extend the ranking and statistics in the following way?
- Differentiate in the general statistics between "actual code" and "comments" in addition to the already existing "Insertions" and "Deletions"
- Allow ranking of the authors by: Insertions, Deletions, Lines of actual code, comments or code complexity (provided by metrics)

Regarding the last point, it would be very co

[2016-09-24 20:31] adam-waldenberg commented on #129
Hi @bonanza123. You mean show insertions ad deletions in the timeline ? Or do you simply mean the amount of inserted / deleted comments ? I don't see the use case for this functionality and what it would contribute over the "percentage in comments" calculation we already have.

Sorting can already be done in the HTML output in the stable branches (I'm unsure of the status in the master branch, as

[2016-09-24 20:59] bonanza123 commented on #129
@adam-waldenberg, Ahh I see.. I mean e.g. in the  [image](https://camo.githubusercontent.com/9eef035e55075eb1c446168de3c780696a170217/68747470733a2f2f7261772e6769746875622e636f6d2f77696b692f656a77612f676974696e73706563746f722f696d616765732f68746d6c5f6578616d706c652e6a7067), it would be nice to have additional columns in the second section / paragraph showing also current complexity of survived cod

[2016-09-24 21:07] adam-waldenberg commented on #129
@bonanza123 You mean to show the cyclomatic complexity metric per-user ? I think that would be impossible to calculate, as most of the time, many authors edit the same file and/or method/function. So how would the attribution work ? Who get's "blamed" for any added complexity ?

[2016-09-24 21:08] adam-waldenberg commented on #129
@bonanza123 It's an intersting thought, but the question is if it can be done in any logical way.

[2016-09-24 21:26] bonanza123 commented on #129
@adam-waldenberg Maybe its a stupid idea but what about doing it proportional to the number lines where each author contributed to. E.g. if there is a code like

[code]
Then I would say author A gets + 2 lines of complexity and author B only + 1.

[2016-09-29 07:39] adam-waldenberg commented on #129
@bonanza123 Doubtful. Another way to look at it is that the person that added the if statement is the culprit as he is the one that actually increased the complexity by adding another nesting.

It's an interesting idea, but I'm not quite sure what the "correct" and most logical way to implement it would be.

[2016-09-29 07:40] adam-waldenberg commented on #129
Let's keep the issue open for now. It might be interesting to look into this. Also, maybe somebody else has some additional ideas for a solution to this.

[2016-10-03 08:03] techtonik opened #130 "Available alternatives"
Is there any list of open source projects that provide the same functionality? I am looking to gathers stats on Mercurial commit size, which `gitinspector` doesn't provide, unfortunately.

[2016-10-03 09:00] adam-waldenberg commented on #130
@techtonik If you need to analyze a mercurial project, you can use https://github.com/frej/fast-export, to first convert your repo to a git repository for analysis.

There's https://labs.freehackers.org/projects/hgactivity, but apart from that I don't know of any mercurial specific tools.

[2016-10-04 08:43] techtonik commented on #130
https://labs.freehackers.org/projects/hgactivity/wiki gives better picture. I also found https://bitbucket.org/mg/hgchart/wiki/Home

Anyway, some awesome page linking to all such tools would be awesome. There is also http://statcvs.sourceforge.net/ and http://statsvn.org/ with nice graphs that could probably be reused.

[2016-10-04 12:53] adam-waldenberg commented on #130
Right. I won't be linking to other projects - I think there are better places for such lists. It also needs to be said that while there are many projects that gather commit statistics from different kinds of repositories, gitinspector has a very specific design goal and use case - something that those projects don't share. This is why it got created in the first place. See https://github.com/ejwa/

[2016-10-04 12:53] #130 closed

[2016-10-05 12:53] techtonik commented on #130
I don't know any better place for such list. If you know one - tell me.

[2016-10-05 17:01] adam-waldenberg commented on #130
There are many discussions on Stackoverflow concerning this, for example;
http://stackoverflow.com/questions/9282346/tortoisehg-mercurial-project-statistics-and-reports/9283466#9283466

There are also a few more extensions on the mercurial wiki;
https://www.mercurial-scm.org/wiki/UsingExtensions

Those are the first that comes to mind. Maybe it would also be possible to get a list of software onto

[2016-10-07 07:27] techtonik commented on #130
Wikipedia may remove lists that are non-significant, so nobody wants to invest time in that. It also needs references in media for every piece of software. There was attempt to remove Spyder IDE page, so I doubt that any lesser tool has much chance to survive there.

[2016-10-18 15:04] willend opened #131 "Enhancement suggestion - merge git authors?"
Hi there,

I am analysing a reasonably old code with a long history (~18 years through rcs->CVS->SVN->git revision control) - and hence several commit authors had different identifiers along the way...

I tried looking through the docs and didn't find anything along the lines of merging stats from multiple authors under the same ID - but I would personally find it really useful.

Best,
Peter Wille

[2016-10-19 08:59] adam-waldenberg commented on #131
@willend,

This is already available, please refer to the [FAQ](https://github.com/ejwa/gitinspector/wiki/FAQ). When it comes to ID's from SVN repos, there might be a few problems, however git has solutions for this when [migrating repos](https://git-scm.com/book/it/v2/Git-and-Other-Systems-Migrating-to-Git).

I think you should be able to merge with .mailmap, but if problems arise you can also [r

[2016-10-28 15:58] meduzapat commented on #19
I also having this issue when the process runs detached:

`Traceback (most recent call last):
  File "/usr/bin/gitinspector", line 9, in <module>
    load_entry_point('gitinspector==0.4.4', 'console_scripts', 'gitinspector')()
  File "/usr/lib/python2.7/dist-packages/gitinspector/gitinspector.py", line 105, in main
    argv = terminal.convert_command_line_to_utf8()
  File "/usr/lib/python2.7/dist-

[2016-11-04 18:08] mensfeld commented on #118
I have the same problem when using --json (for non json works ok)

[2016-12-01 16:38] eddie-dunn opened #135 "Show "hotspots" in report"
Identifying source files that are often changed, and by many different people, is a great indicator of where the next bug might crop up.

Can you add such hotspot information to the report?

[2016-12-01 19:23] tetraf opened #136 "[feature] Performances"
Would it be possible to have some sort of caching to enhance performances on report regeneration for big repositories or global report for a lot of repositories?

[2016-12-01 19:33] tetraf opened #137 "Global stats"
It may be nice to report total number of lines/files/commits/authors and their average by day/week/month/year (even with time graphs and punch card), some data like [sloccount](http://www.dwheeler.com/sloccount/) and other global stats.

[2016-12-06 09:51] adam-waldenberg commented on #131
Hi @willend . Did you manage to resolve this somehow?

[2016-12-06 09:53] adam-waldenberg commented on #135
Hi @eddie-dunn.

I'll keep it open and think about it. While it does not really help in evaluating an author, it might be useful.

[2016-12-06 09:54] adam-waldenberg commented on #136
Already planned and a duplicate of #22. It's a somewhat tricky feature to implement right, but is on the todo list

[2016-12-06 09:55] #136 closed

[2016-12-06 10:09] adam-waldenberg commented on #130
Hi @techtonik. A private page for each tool is probably senseless and would get removed, yes. However, it might work to add a list such as one of these;

https://en.wikipedia.org/wiki/Category:Lists_of_software

[2016-12-06 10:11] adam-waldenberg commented on #137
It might be nice. However, I'm not that crazy about adding stats that don't really help when evaluating each author.

[2016-12-06 13:09] willend commented on #131
I think I did eventually manage or find a different solution, thanks! :-)

[2016-12-06 13:09] #131 closed

[2016-12-14 20:44] singram opened #140 "[Documentation] Date example"
I'm attempting to use the --since flag with the --grading flag.  The --since flag does not appear to be working and does not report out on expected date format or invalid date supplied.

Given this, an example of the date format expected in the documentation/help output of the tool would be useful especially in light of the fantastic international support in this tool.

[2016-12-14 20:53] singram opened #141 "Include branch name in output"
It would be useful to have the branch name analyzed in the final output.

[2016-12-14 23:00] adam-waldenberg commented on #140
@singram Hi.

This is already somewhat (badly) covered in the git documentation. The flag is simply passed along to git when doing the analysis. The format is in aproxidate. Also, this has changed a few times and has been extended.

In any case, we can't really document it properly, as it is tightly bound to the version of git you happen to have on your system.

[2016-12-14 23:00] #140 closed

[2016-12-14 23:05] adam-waldenberg commented on #141
Thank you @singram. That's a good idea. Adding it to the todo list.

[2016-12-14 23:46] singram commented on #140
No problem @adam-waldenberg thanks for the response.  Took me a little experimentation to figure out the correct invocation, for instance
--since xxx does not error
--since=xxx does not error
--since=20160101 does not error
--since=2016-01-01 worked

I wonder if there's an enhancement to provide more feedback to the user as to whether the input is interpreted correctly or not.  Maybe some kind of

[2016-12-15 00:13] adam-waldenberg commented on #140
@singram Great. I'm glad it's useful :). The project has gotten fairly little attention for a while as I am setting up a data center here in Gothenburg, but I'm hoping to get some more work done on gitinspector early next year.

Since a while back, aproxidate also accepts descriptive strings such as "300 days" and "50 months" or similar. Everything in the ISO 8601 format is also accepted - plus so

[2017-01-14 18:08] replete opened #142 "Line-ending issue - 'env: python\r: No such file or directory'"
[code]

This is the error I get after on OSX, it appears to be a line ending issue:
http://stackoverflow.com/questions/19425857/env-python-r-no-such-file-or-directory

[2017-01-14 18:39] adam-waldenberg commented on #142
Hi @replete.

Running; "grep -IUlr $'\r'" on command line on the repo returns no results. So I don't think there should be any CR character in the repo itself. Do you get the same behaviour if you run gitinspector without npm?

My guess is that the CR character(s) got introduced with the publishing of the NPM package (see #138), so I'll let @bartvanandel take a look at this.

[2017-01-14 18:41] replete commented on #142
I fixed it by re-saving the file in VSCode. Thanks

Phil Ricketts

On 14 January 2017 at 18:39, Adam Waldenberg <notifications@github.com>
wrote:

[2017-01-14 18:43] adam-waldenberg commented on #142
@replete Great. However, that doesn't really fix it. We also need to find out why it got there in the first place :).

[2017-01-14 18:52] adam-waldenberg commented on #142
Seems I might be on to something :). You can read about the issue here; https://github.com/npm/npm/issues/2097 and even more at https://github.com/npm/npm/issues/12371.

@bartvanandel, did you by any chance re-save any of the source files in gitinspector (particularly gitinspector.py) before publishing ?

[2017-01-15 13:36] bartvanandel commented on #142
Let me have a look.

According to the changes (https://github.com/ejwa/gitinspector/pull/138/files) gitinspector.py was not touched. However, the issue may be caused by the way git was configured when pushing the package to npm. By default (if the option is not set) git converts line endings for text files "in whatever way it thinks is best. This is a good default option." according to [Dealing wi

[2017-01-15 13:41] bartvanandel commented on #142
Just verified, on Linux it has Windows-style line endings as well. I will change into Unix-style with the next update.

In the mean time I'm happy that you've found a workaround.

[2017-01-15 14:29] bartvanandel commented on #142
Fixed and re-published. I checked it out on my Linux machine and the issue is no longer present after updating.

Thanks for notifying me about the issue though, I've learned something today!

[2017-01-15 15:22] adam-waldenberg commented on #142
@bartvanandel Great! Problem solved then I guess. Closing the issue :)

[2017-01-15 15:22] #142 closed

[2017-01-15 15:34] replete commented on #142
Thanks for fixing this guys, incredible response. Sorry I wasn't much help after-the-fact.
Phil

[2017-01-30 21:36] uli-weltersbach commented on #135
Detecting hotspots as @eddie-dunn suggests is really helpful from an enterprise perspective.

A "normal" development flow is usually characterized by several sizable commits, followed by a period of inactivity - the code has been written and does what it's supposed to do. This cycle repeats when e.g. new business requirements demand changes to the code.
A bunch of small commits "sprinkled" over a

[2017-01-31 09:25] eddie-dunn commented on #135
I know this tool was initially developed to evaluate students' performance. I forgot to mention that in the issue description, since I tried to keep it succinct and to the point, but as @uli-weltersbach mentioned above, your tool can be immensely helpful in enterprise contexts as well. `gitinspector` is one of the better code analysis tools I've found, but it can be improved.

In other words, for

[2017-01-31 11:33] adam-waldenberg commented on #135
@uli-weltersbach Yes it might be helpful.

@eddie-dunn As stated before, yes I might be open to the idea. It's fits under the same scope as the already included metrics that can be found in gitinspector which also is for finding files that may contain problems.

Exactly how it would work and what should be included is another question.

[2017-02-07 01:49] rafiqkattangere opened #143 "stability and age calculations"
It would be good to document how a user should interpret stability and age? And what those numbers indicate?

[2017-02-07 14:34] rafiqkattangere commented on #143
I just realized you did answer in issue #111. Having it documented can help. Thanks!

[2017-02-12 07:24] kiwichris commented on #122
I have hit a Unicode issue in gitinspector in changesoutput.py with the RTEMS repo (https://git.rtems.org/rtems.git). We have Unicode users in the repo and I have no locale set and `locale.getpreferredencoding()` is returning 'US-ASCII'. This is on FreeBSD 10.3 with Python 2.7.12. I have hacked around the problem by adding:

 `import codecs`
 `import sys`
 `sys.stdout = codecs.getwriter('UTF-8')(s

[2017-02-12 11:59] adam-waldenberg commented on #122
@kiwichris Discussed several times previously and definitely not a bug in gitinspector. There are a few things you can do to modify behaviour;

1.  Use a terminal with unicode encoding set up.
2. Set PYTHIONIOENCODING to UTF-8.
3. Pipe the output to a file (defaults to using UTF-8 and does your exact code for both stdin/stdout).

Instead of forcing the output to utf-8 (as you do in your hack), git

[2017-02-13 04:22] kiwichris commented on #122
Sure, the solutions you highlight make sense. The python error makes it look like an bug.

[2017-02-23 15:01] hindsholm commented on #118
I run into this bug consistently on two repositories. There are no uncommitted changes. I am running ver. 0.4.4.

[2017-02-23 15:03] adam-waldenberg commented on #118
@hindsholm, As you can see from the above discussion, the Issue is well understood... I just haven't had time to sit down and actually fix it yet...

[2017-02-23 15:11] hindsholm commented on #118
@adam-waldenberg I understand. I just wanted to let you know that the issue will also show up when there are no uncommitted changes :-)

[2017-02-23 15:17] adam-waldenberg commented on #118
@hindsholm Yes. Thank you. It's actually caused by a logic error in the threading code (overflow), causing it to end up with an empty changeset. In the meantime you can remedy it with the fix mentioned in https://github.com/ejwa/gitinspector/issues/118#issuecomment-258506482.

[2017-02-23 15:44] hindsholm commented on #118
@adam-waldenberg I have cloned the repo and applied the workaround and I can confirm that it does indeed work :-)

[2017-02-23 15:46] mensfeld commented on #118
@hindsholm  it needs to work - It runs around 2-5k times per day for me ;)

[2017-03-02 18:08] sourcebits-rafeeq opened #144 "Add support for Swift."
When can we expect support for Swift language?

[2017-03-09 01:48] adam-waldenberg commented on #144
Hello. Somebody that knows the language well needs to add the support. Pull requests for new languages are always welcome. To read up on how language support in gitinspector works, see issue #59.

[2017-04-18 10:45] adam-waldenberg opened #148 "Add complexity counter per author"
Add a complexity counter to each author. This is an idea to add functionality to gitinspector to track the "average" complexity of the code commited by an author. This would help in giving us an indication of what kind of code an author has added. This would have to rely heavily on regexp in order to analyze statements and statement depth.

The source of the idea comes from the paper;
http://softw

[2017-04-18 15:28] neontapir commented on #19
Same. I updated my shell wrapper to do the `export PYTHONIOENCODING=utf-8`.

[2017-05-13 14:42] #122 closed

[2017-05-13 14:43] adam-waldenberg commented on #122
Fixed with the above commit. Report any problems related to this.

[2017-05-15 01:07] #118 closed

[2017-05-15 01:08] adam-waldenberg commented on #118
Should be fixed now. Please report any problems.

[2017-05-15 01:30] adam-waldenberg commented on #143
I'm currently working on a document that describes the output from gitinspector. It will be part of the wiki at some point.

Closing this, I'm considering this as a duplicate of issue #111.

[2017-05-15 01:30] #143 closed

[2017-05-15 01:33] adam-waldenberg commented on #137
Closing this, as I don't really consider this as a fit for the use case of gitinspector.

[2017-05-15 01:33] #137 closed

[2017-06-04 11:35] matutet opened #150 "Error if author name contains non ascii chars like "ó" in "Antón""
I trying to use gitinspector on my repositories. All of them have authors with non ascii chars in its names (we are spanish developers).

[code]

I am using MacOS.  Not tested on other operating systems.

[2017-06-04 16:51] adam-waldenberg commented on #150
Hi @matutet. Gitinspector is behaving correctly. If you read traceback you can see that your terminal encoding is set to ascii - as such, it won't be able to display those international unicode characters in your terminal. This has been discussed several times before. See for example issues #122 and #9 for information on how to fix it. You can also redirect to a text file to get rid of the problem

[2017-06-04 16:51] #150 closed

[2017-06-04 16:59] matutet commented on #150
You're right. I was missing some `locale` vars.  Now, after fixing it, is working

[code]

Thanks for your quick answer.
+1 for gitinspector :-)

[2017-06-04 17:05] adam-waldenberg commented on #150
@matutet Good to hear. Enjoy gitinspector :).

[2017-06-11 10:24] techtonik commented on #130
Links without primary page are also get remove from those lists. I had multiple IRC software link removed due to this reason.

[2017-06-24 21:30] JalilArfaoui opened #151 "Add a way to merge authors"
During the lifetime of a project, a single author may have used different emails in his commits, and different display names ...

It would be great to have the option of merging different detected authors into a single one.

For example, I have a project where I can see in authors "Jalil Arfaoui", "Jalil ARFAOUI" and "jarfaoui".

If I could have and option to specify a mapping for exemple, either

[2017-06-24 22:02] adam-waldenberg commented on #151
Hi @JalilArfaoui.

There is no need for this in gitinspector. It's already an integral feature of GIT. It's also covered in the [FAQ](https://github.com/ejwa/gitinspector/wiki/FAQ).

Please also refer to issue #105.

[2017-06-24 22:02] #151 closed

[2017-06-24 22:31] JalilArfaoui commented on #151
Oh I didn't know about .mailmap file ! This is so cool

Thank you @adam-waldenberg !

Sorry for the unneeded issue

[2017-08-04 13:15] mensfeld opened #152 "Multi branch analysis"
It would be cool if we could analyze all the branches. ~~I believe, that it would require only a small change (ofc this would have to be a flag, so bigger changes in general)~~ won't be as easy as I thought as the blame won't work but still I believe that this would be a valuable feature:

[code]

[2017-08-04 17:07] polwel opened #153 "Install with setuptools on Windows fails"
I downloaded version 0.4.4, and ran `setup.py install`. According to `setupttols`, the installation was successful, but if I now try to run `gitinspector` from the command window, I get
[code]

I tried this on different machines (Python 3.5 with Anaconda on Windows 7, and regular Python 3.6 on Window 10). I suspect I am either doing something wrong, or there is a configuration issue.

[2017-08-04 17:10] polwel commented on #153
Apparently something like this has happened before. See #73.

[2017-08-04 17:46] polwel commented on #153
Ok, the issue no longer occurs in the master branch. The commit that fixed the issue I referenced above must not have been cherry picked for v0.4.4.

I am closing the issue.

[2017-08-04 17:46] #153 closed

[2017-08-06 17:23] adam-waldenberg commented on #152
Hi @mensfeld. This is planned, but in a more fine-grained way - allowing to specify branches directly when specifying a repo. See #92. The plan is to allow wildcards and/or regexps to match multiple repos and branches.

[2017-08-06 17:23] #152 closed

[2017-08-06 17:42] adam-waldenberg commented on #153
Hi @polwel. The discussion in #73 does not affect v0.4.4, as the refactoring done in the master branch is not part of that release. Not quite sure what is going on. In 0.4.4 there are no sub directories or a separate gitinspectory.py entry script.

It should work. Try on a unix/linux box and see if that makes a difference. Python (and much of it's tools) don't always behave well under Windows. Set

[2017-08-06 19:13] mensfeld commented on #152
Hey @adam-waldenberg  thank you. I'm looking forward to it!

[2017-08-11 22:14] wawiesel commented on #129
Hey guys, just started using this tool today and was particularly happy to see this complexity measure. For our team, when we introduce these metrics, it will be
1. a way to find some hotspots that need work and
2. give a warm fuzzy idea about the delta complexity introduced by a stack of changes slated to be merged into master.

So for 2, basically you just have to look at the commit-by-commit co

[2017-08-13 08:58] mindplay-dk commented on #121
I ran into this problem after installing today. Manually installing `python-setuptools` as directed above fixed it. If this dependency can't be installed automatically, perhaps it should be documented?

[2017-08-16 07:24] jiming opened #154 "[Feature Request] generate report for multiple repositories"
I believe most of us work on multiple git repositories. I think it will be very helpful if we can generate multi repositories into one report.

[2017-08-17 01:38] adam-waldenberg commented on #154
@jiming This is already implemented and a duplicate of issue #24 .

[2017-08-17 01:38] #154 closed

[2017-08-17 01:42] adam-waldenberg commented on #121
@mindplay-dk This has been fixed already. If you are runing old debian stable or something based of it it's just the dependencies that are wrong in those distributions.

[2017-08-30 21:50] rohits-page opened #155 "Multiple GIT repositories"
I am having issues running gitinspector over multiple repositories. How do I run gitinspector over multiple repositories and get a comprehensive view of developer activity?

Thanks!

[2017-08-30 22:18] adam-waldenberg commented on #155
Hi @rohits-page. You just specify the relative or absolute path on the command line to each repository. Gitinspector will then merge these together into a report.

[2017-08-30 23:30] rohits-page commented on #155
Thanks. So if I have 100 repositories, do I specify all 500 entries?
Is there a way to specify the root folder and let the script identify the
repositories?
Will it be possible for you to share an example?

Thanks

On Wed, Aug 30, 2017, 3:18 PM Adam Waldenberg <notifications@github.com>
wrote:

[2017-08-30 23:51] adam-waldenberg commented on #155
@rohits-page

No, there is no recursion. Implementing recursion would probably introduce unforeseen side-effects. If you want to check 100 repos, you need to specify all of them. You can always make a script to take care of the recursion if you like.

The merging is somewhat explained if you specify "--help" and read the documentation (or in the man page) - basically, you just do,

gitinspector <o

[2017-09-21 20:08] gonzobrains opened #157 "Stats about most edited files"
Is there a way to get stats to show the most heavily-used/committed files?  I'd like to use this tool to help me better understand inherited codebases.

[2017-09-22 05:49] mensfeld commented on #157
@gonzobrains => git effort

[2017-10-02 21:05] MrMichaelJKelly opened #159 "Allow equivalencing git users"
People often use multiple aliases in Git projects.  Allow having a config file that associates multiple commit names as one person and gives the preferred ID to use.

[2017-10-02 21:10] adam-waldenberg commented on #159
Hi @MrMichaelJKelly. Would be senseless to implement, as it is already built into git. Please refer to the [FAQ](/ejwa/gitinspector/wiki/FAQ) for more information.

Closing.

[2017-10-02 21:11] #159 closed

[2017-10-02 21:12] #155 closed

[2017-10-02 21:14] adam-waldenberg commented on #157
Hi @gonzobrains. Not implemented - but something similar has been discussed and is planned for a future release. See issue #135. Closing this as a duplicate.

[2017-10-02 21:14] #157 closed

[2017-10-03 10:43] tkok89 commented on #108
I made a pull request #160 for this one. This is my first pull request and all feedback is welcome.

[2017-10-19 21:58] CFoltin opened #161 "UTF-8 characters in authors leads to a crash"
Hi,

we had names with german letters like 'ö' inside. They terminated the application on text output.

To correct the bug, I've changed line 151 in changesoutput.py to the following line:

				print(str(i.encode(sys.stdout.encoding, errors='replace')).ljust(20), end=" ")

and imported sys.

HTH, Chris

[2017-10-20 09:49] adam-waldenberg commented on #161
Hi.

What encoding is the terminal ?
What version of Python are you using?
What exception are you getting?

You are doing errors="replace" here which works around the problem and doesn't really "solve" it. I suspect your terminal is not really set to UTF-8 and this is the actual reason for your issues.

[2017-10-23 09:07] ramkumar-hgst opened #162 "Generate LOC between 2 git tags or commits"
How to Generate LOC between 2 git tags or 2 commits(revisions)?

[2017-10-23 20:08] adam-waldenberg commented on #162
Currently, gitinspector supports --since and --until. Please refer to the git docs on how these work. Filtering between two tags or sha's isn't currently planned and would clash with --since and --until... Unless we extend them and add something to be able to set branches and tags. This might actually be an idea.

[2017-10-23 20:09] adam-waldenberg commented on #162
I'll add it to the todo list for now.... The more I think about it, the more it makes sense.

[2017-11-02 18:20] CFoltin commented on #161
Hi, sorry for late reply.

Encoding:
 $ python -c "import sys; print(sys.stdout.encoding)"
ISO-8859-1

Python version:
 $ python --version
Python 2.7.6

Error message:

Traceback (most recent call last):
  File "/home/user/Downloads/gitinspector-master/gitinspector.py", line 24, in <module>
    gitinspector.main()
  File "/home/user/Downloads/gitinspector-master/gitinspector/gitinspector.py", line

[2017-11-14 17:25] amorphius commented on #161
I have the same issue beside I have UTF-8 locale
[code]

[2017-11-21 11:08] M3kH commented on #161
I would say that this could solve.

Add to ~/.bash_profile
[code]

or whatever preference you want.
Seems just a generic issue with Python on Mac.

[2017-11-24 08:19] adam-waldenberg commented on #161
@CFoltin Hi.

Sorry. I forgot about this issue. In any case - it's completely normal. If your terminal can't support the character, python has no way of outputting it.

The export should do the trick though. But maybe something is still not set to UTF-8. You can try setting PYTHIONIOENCODING to utf8 or redirecting to a file - in which case these problems should never occur.

[2017-11-24 13:56] devcurmudgeon commented on #161
Ironically I just hit this same issue today. I don't think it's "invalid", tbh.

imo gitinspector shouldn't crash just because it hits an odd character in git metadata...

Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/local/lib/python2.7/dist-packages/gitinspector/blame.py", line 113, in run
    self.__handle

[2017-11-24 16:46] adam-waldenberg commented on #161
@devcurmudgeon

There are only a few options here.

1. Ignore it and replace all characters that can not be outputted - this is something I'd rather not do, as the output will be invalid.
2. Catch it and print out exactly the same error message ;)... Or a similar one. No point in that.
3. Catch it, inform the user and output it with invalid characters replaced. Problem is that this will garble the

[2017-11-25 06:33] CFoltin commented on #161
Hi,
this problem had cost me about 3 hours to get fixed. So, I would propose to improve the user's experience. The option to catch it and to **print a remedia** would be way better to leave the user with a stack trace, which appears after ~20min which the tool needed in my case to analyze the repo.

Just, my 2 cents.

BTW: In any case, this error message seems to be found....

[2017-11-25 08:50] devcurmudgeon commented on #161
@CFoltin i'm with you. I was thinking of using gitinspector as part of a CI pipeline that builds a custom Linux distro ... approximately 700 repos. it worked well on some samples... but then crashed our pipeline, on a linux-api-headers repo, a couple of hours into the run.

Upstream folks obviously can make make their own choices about what they want to fix, but as a user I'm not interested in inf

[2017-11-25 08:55] devcurmudgeon commented on #161
@adam-waldenberg thanks for your reply. I may be wrong but I think you missed at least a couple of options:
- force utf-8 if the environment is not set
- skip any data that you can't handle but still generate results for all the rest of the data

Crashing a whole run because of an unexpected (but valid) character in a git repo's metadata doesn't seem like correct behaviour to me

[2017-11-25 11:49] adam-waldenberg commented on #161
@devcurmudgeon UTF-8 is forced on redirection. I won't be forcing UTF-8 on terminal output, because it's not always needed. Output also needs to work on other environments with extended UTF-8, UTF-16 etc. Strictly speaking, it's only author names (and sometimes filenames) that can be an issue. Again, skipping data would mean you get an invalid output, which is not an option either.

@CFoltin You c

[2017-11-29 12:56] Archer6621 opened #163 "Gitinspector showing "Unknown" while Github shows correct statistics in Insights"
So I have this strange issue with certain repositories where I am a collaborator. In one of them for instance, when I run git inspector with the default flags (aside from --format=htmlembedded), I can only see two contributors in the pie-chart: one of the larger contributors, and "Unknown".

It seems as if anything else was just grouped under this "Unknown" contributor, since when I actually look

[2017-11-29 13:12] adam-waldenberg commented on #163
Hi @Archer6621. If gitinspector shows an Unknown contributor, then there's a contributor with that name in the repository. There's no such string hard coded into gitinspector, so if it finds it, it's in the repo.

That being said, Gitinspector tries to group people by their name depending on what it finds. It always tries to display the very latest name a certain email address has used when commit

[2017-12-06 13:22] Archer6621 commented on #163
Thank you for the reply Adam, and for pointing me in the right direction!

[2017-12-06 13:22] #163 closed

[2017-12-16 11:49] josemvidal opened #164 "Link to github usernames and avatars"
In [my fork](https://github.com/josemvidal/gitinspector/tree/github-usernames) I added a `--github file.csv` paramater, where `file.csv` contains two columns: the first one with email addresses and the second one with github usernames.

The html output will then include the committer's github avatar, username, and profile link.

This is useful to me as all my students use github repos and I spend

[2017-12-22 11:50] adam-waldenberg commented on #163
Glad to help. Have fun with gitinspector!

[2018-01-12 06:54] melissaulaval opened #167 "KeyError when running gitinspector command --file-types=EXTENSIONS to a specific repository"
Hi,

I got this error running the gitinspector command --file-types=EXTENSIONS to a repository:
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/dist-packages/gitinspector/blame.py", line 73, in run
    author = self.changes.get_latest_author_by_email(email)
  File "/u

[2018-01-24 05:38] varun7447 opened #168 "decode() argument 1 must be string, not None"
Getting this error when running from Jenkins Shell command

[code]

[2018-01-26 07:47] MichaelKaaden commented on #168
@varun7447 Setting the environment variable PYTHONIOENCODING should fix your problem. Please give it a try!

[2018-01-26 07:48] varun7447 commented on #168
What should be the encoding set to?

On Thu, Jan 25, 2018 at 11:47 PM Michael Kaaden <notifications@github.com>
wrote:

[2018-01-26 08:00] MichaelKaaden commented on #168
That depends. I like using UTF-8.

[2018-01-26 12:27] Art4 commented on #168
I had the same issue. Using `env PYTHONIOENCODING=utf-8 gitinspector.py ...` works for me.

[2018-01-30 05:51] wildone opened #169 "add ability to report on submodules"
Are you able to build a mechanism to create a report from parent repos with submodules. This way you can see summary of all repos including parent and see per repo breakdown?

[2018-02-17 11:08] dhruvdutt opened #170 "Add npm info"
Add npm installation in README info since the package is [published on npm](https://www.npmjs.com/package/gitinspector).

I had to go through the code to discover that this package exists on npm. 😅

[2018-02-22 15:27] RDCH106 opened #171 "💥 Error installing gitinspector in Windows"
I am trying to install gitinspector in **Windows 10** system with **Python 3.6.4 32 bits** and I get the following error:

[code]

It seems a problem with relative paths to the gitinspector module.

[2018-02-28 15:40] E14 opened #172 "Link to example outputs show weird site"
When trying to show any of the listed example outputs in the Readme.md, I'm forwarded to a weird site:

![image](https://user-images.githubusercontent.com/1640391/36796408-caf6ca86-1ca5-11e8-985c-f97965eea8d4.png)

Example link:
* http://githubproxy.ejwa.se/wiki/ejwa/gitinspector/examples/django_output.html

[2018-03-14 02:22] saya327 opened #173 "Graph does not print"
I installed gitinspect and called pathfontexpathfile to print the report. But Graph does not print
Graph must be in report.  need help.
![1](https://user-images.githubusercontent.com/7323970/37380048-1233da40-277a-11e8-868d-93ef07a68db8.png)

[2018-03-14 11:08] adam-waldenberg commented on #167
Hi. Which version of gitinspector are you running ?

[2018-03-14 11:10] adam-waldenberg commented on #168
This is an old issue already discussed related to Python and invalid terminal encodings. See for example #19. Not a gitinspector issue.

Closing

[2018-03-14 11:10] #168 closed

[2018-03-14 11:17] adam-waldenberg commented on #169
Hi @wildone. It's definetly doable. I am not sure a per-repo breakdown is of any interest though, as you might as well run gitinspector mutliple times for that.

The default behavior we have gone with is to combine statistics. To combine statistics from the parent repo and include submodules you can just specify the submodules on the command line to gitinspector. It will then happily merge the sta

[2018-03-14 11:18] adam-waldenberg commented on #170
Hi @dhruvdutt.This is already present in the README and the main wiki page.

Closing.

[2018-03-14 11:18] #170 closed

[2018-03-14 11:21] adam-waldenberg commented on #171
Hi @RDCH106. This is an old and currently unsupported version. Please use 0.4.4. Version 0.3.2 is very old. The PIP packages are not official packages done by any developer here. Maintainers would be welcome though.

[2018-03-14 11:21] #171 closed

[2018-03-14 11:31] adam-waldenberg commented on #164
Hi @josemvidal. This might be interesting. It would have to support all output types that the gravatar module supports, though. If I recall correctly - XML, JSON and HTML all support avatars.

[2018-03-14 11:35] adam-waldenberg commented on #173
I am not sure what you are trying to do? Gitinspector uses JavaScript for pie chart outputs.

[2018-03-14 11:35] Art4 commented on #168
I think it is worth to document this issue in the wiki.

[2018-03-14 11:45] adam-waldenberg commented on #168
@Art4 It kinda already is mentioned in the FAQ. However it  uses UnicodeEncodeError exception as an example, which is related. Same issue, but a different exception. It all comes down to a terminal that can't handle the characters.

In this instance it just happens earlier because sys.stdin.encoding is set to None.

[2018-03-14 12:22] josemvidal commented on #164
Makes sense. I'll work on it.

[2018-03-15 08:53] RDCH106 commented on #171
Thanks for your answer!!

I will try again using the most recent version in the repository.

[2018-03-15 11:13] RDCH106 commented on #171
It works perfectly using the repository version! 😄😄😄

I have written a [tweet to the gitinspector repository owner in Pypi](https://twitter.com/RDCH106/status/974240112522473472).

About maintenance I can upload the releases to Pypi.

[2018-03-19 09:35] maumueller opened #174 "Aliases for users"
Hi,

we use gitinspector in the process of grading a large university course. It makes our life so much easier, thanks a lot for it!

In our use case, we noticed some room for possible improvements. In general, we get near-duplicated entries for users when they have setup their git client incorrectly for a few commits. Moreover, even if setup correctly, our university system will give them somehow

[2018-03-30 22:35] adam-waldenberg commented on #173
Closing. Originally reported issue does not make any sense.

[2018-03-30 22:35] #173 closed

[2018-04-05 00:17] adam-waldenberg commented on #174
Hi. Sorry for the slow response.

We have had the same problem during grading. Students actually get a "email" (and user) assigned to them from the hostname that they get on the wireless network.

Similar functionality is already present in it git itself. You can map author names and merge them together via a .mailmap file that you place in the root of the repo directory - it even supports wildcar

[2018-04-05 00:17] #174 closed

[2018-04-05 07:42] maumueller commented on #174
Hi Adam. Thanks for pointing out that the feature is present in git itself. Works perfectly and is much easier to set up.

[2018-04-07 10:24] vivuoren opened #176 "Add information regarding modified, deleted or new lines of code"
Timeline feature is very usefull and you can get valuable data regarding a certain period of time. But to get even more detailed what each contributor has done during this period it would be useful to know:
-New lines of code per person.
-Modified lines per person.
-Deleted lines per person.
-List of modified files per person.

After each period there is the total number of code lines changed duri

[2018-04-21 23:29] jamesquilty opened #177 "gitinspector.py --version reports "Error processing git repository ...""
On the current Master commit, 15 May 2017 (6d77989e341e043c9a7f09757000d75701b32d84), trying to obtain the version using the `--version` flag produces an error:
[code]
The 0.4.4 release produces a more expected result:
[code]
This is a minor bug, but it would be useful if it could be fixed because I am running multiple versions.

[2018-06-05 13:18] adam-waldenberg commented on #176
Hi. Sorry for the slow answer. I had a lot to do lately and maintenance of gitinspector has slipped behind slightly.

The problem with the proposal is that gitinspector is intended to give you a good overview... This is why a total lines of code and a percentage (work and number of pluses/minuses) was chosen. How do we visualize this data in the console and/or HTML output ?

Your example works for

[2018-06-05 13:19] adam-waldenberg commented on #177
Thank you @jamesquilty. I guess we have a regression in there. Will take a look when I have time.

[2018-06-06 05:46] robert-skarzycki opened #178 "Example outputs no longer working"
Hi,

FYI - example output links provided on the README redirects to some unexpected page.

P.S. Consider hosting those pages on the free app server like Heroku.

[2018-06-07 15:55] ghardoim opened #179 "Gitinspector ignore one of two commits in the same interval"
I'm running the following comand to find two commits that I know they exist, but the gitinspector don't find one of them.

`python "gitinspector.py" -f** --since=2018-05-07-15:02:00 --until=2018-05-07-15:03:00 "path"`

In this interval there are two commits:
one at `--since=2018-05-07-15:02:00 --until=2018-05-07-15:02:10`
and the other at `--since=2018-05-07-15:02:20 --until=2018-05-07-15:02:40`.

[2018-06-08 13:59] Murudkar opened #180 "Documentation: Timeline Color Coding"
The color coding for the timeline shown , what does red vs green mean.

Thanks.

[2018-06-13 10:01] adam-waldenberg commented on #180
Hi. Green denotes insertions while red denotes deletions.

[2018-06-13 10:01] #180 closed

[2018-06-13 10:04] adam-waldenberg commented on #178
Hi @robert-skarzycki.

Duplicate of #172.

I own a data center and a hosting service, so using some free alternative is out of the question. With that being said, the reason for the redirection is that I had to reinstall and resecure that server some time ago and have not gotten around installing the service that hosts the gitinspector examples.

I will look into it once I have time.

[2018-06-13 10:04] #178 closed

[2018-06-13 10:07] adam-waldenberg commented on #179
Hi @GHardoim.

Interesting. How does git itself react if you do a shortlog with the very same --since / --until flags ?

What version are you using ? Please use the latest stable release (not the master version).

[2018-06-13 17:56] GHardoim commented on #179
Hi @adam-waldenberg, thanks for your answer!

I ran the commands git log and shortlog and both found all two commits in this interval.
I believe it's something with the parameter -f**, because:

- I used the releases v0.4.4, v0.4.3 and v0.4.2 with and without this parameter and they didn't find the two commits.
- In the release v0.4.1, who doesn´t have the –f** parameter, I added the extensions ma

[2018-06-15 00:57] adam-waldenberg commented on #179
Hi @GHardoim.

So it seems perhaps that the introduction of "**" might have broken something. Could you do a "git bisect" run on the "extra-release/0.4.x" branch ? This should allow you to find the exact commit that broke the functionality.

[2018-06-18 15:39] GHardoim commented on #179
Hi @adam-waldenberg.

I executed the bisect and it found this commit aeb9ad69f93f480fa7ac1df231a9864b9c386369 as the first bad commit.

That's help you?

[2018-06-20 16:42] adam-waldenberg commented on #179
Hi @GHardoim.

Thank you. Yes, that threading code introduced a few problems.... Can you test the master version ? There was a fix introduced in 6d77989e341e043c9a7f09757000d75701b32d84 - it may cover this problem...

[2018-06-22 07:17] typekpb opened #181 "add option to merge explicitely listed user groups"
We have a repo, where users has changed their names. I'd love to see the feature to merge the explicitly listed user groups (via some command line switch) into ones => to have the real-user stats.
Any chance for that?

[2018-06-22 18:06] GHardoim commented on #179
Hi @adam-waldenberg

I tested the master version with the commit that you said but still not working

[2018-06-22 22:34] adam-waldenberg commented on #181
@typekpb No need for this in gitinspector. See for example #174, #151, #131, #105, #74. There are probably even more issues, discussing this, but you get the idea. More information on merging authors (or changing their names) is available in the [FAQ](https://github.com/ejwa/gitinspector/wiki/FAQ).

[2018-06-22 22:34] #181 closed

[2018-06-22 22:35] adam-waldenberg commented on #179
@GHardoim OK... So we probably have some logic error introduced with filtering and the threaded version of changes.py. I will look into it.

[2018-06-23 05:41] typekpb commented on #181
It works! Thank you.

On Sat, Jun 23, 2018, 00:34 Adam Waldenberg <notifications@github.com>
wrote:

[2018-06-29 23:32] typekpb opened #182 "commit count incosistent with github one"
I've noticed, commit count in gitinspector doesn't reflect the reality => too low.

Steps to reproduce:
Run gitspector on this project:
github stats:
![image](https://user-images.githubusercontent.com/499820/42118649-24bbb22a-7c05-11e8-850e-d5558e8d14af.png)

gitinspector stats:
![image](https://user-images.githubusercontent.com/499820/42118665-3dc171d8-7c05-11e8-9a54-4cf7ed0d9471.png)

it seems:

[2018-06-29 23:34] typekpb commented on #182
btw. the following opts have been used during the test run:`-mrTw`

[2018-06-30 13:36] adam-waldenberg commented on #182
Hi @typekpb. This is the correct behavior. As stated by the documentation, gitinspector only counts commits that include any of the filetypes currently being scanned. Everything else is filtered out. This includes all statistics gitinspector shows you, not only the commit count.

Take, @bartvanandel as an example. He has 6 commits in the repo (not 5 as claimed by GitHub), but only one of them actu

[2018-06-30 13:36] #182 closed

[2018-06-30 14:11] typekpb commented on #182
@adam-waldenberg thank you for clarificatoin, `-f "**"` did the trick for me

[2018-07-18 16:05] GHardoim commented on #179
Hi @adam-waldenberg
It's me again
Let me ask you a question...

I have a bash script that calls the gitinspector to a large number of repositories in a repetitive way (day per day, since the begin of year) and at some point, while my script keeps calling, the gitinspector does not work anymore.
If I call it thus, is there any chance of an overload occurring?

[2018-07-25 06:41] rameshrr opened #183 "UnicodeEncodeError: 'charmap' codec can't encode character '\u0107' in position 865: character maps to <undefined>"
Traceback (most recent call last):
  File "C:\Users\EMD BACKUP\AppData\Roaming\npm\\node_modules\gitinspector\gitinspector.py", line 24, in <module>
    gitinspector.main()
  File "C:\Users\EMD BACKUP\AppData\Roaming\npm\node_modules\gitinspector\gitinspector\gitinspector.py", line 206, in main
    run.process(repos)
  File "C:\Users\EMD BACKUP\AppData\Roaming\npm\node_modules\gitinspector\gitinsp

[2018-07-25 09:34] adam-waldenberg commented on #183
Hi @rameshrr . This is not related to gitinspector, but to your terminal or destination pipe not being able to handle the characters. What is interesting though is that it defaults to cp1252 for some reason despite the redirection. It should default to UTF-8. That means set_stdout_encoding() is failing to set the encoding to UTF-8 for some reason.

This could actually happen if you run gitinspecto

[2018-07-25 09:41] adam-waldenberg commented on #183
Just to more clearly explain what is going on - your terminal/pipe is requesting CP1252 characters from Python, so python is trying to comply and output via that encoding. Unfortunately, certain characters from UTF-8 won't map to that encoding.

[2018-07-25 13:47] steevanb opened #185 "How to use --since"
Hi,

This is not really an issue.

I'm looking for date format used by `--since` and `--until`. Documentation said `the same as the format used in git itself`, but i've trid some git date formats, no one seems to work.

Could you please update documentation with an example, or write an example here?

[2018-07-25 14:00] adam-waldenberg commented on #185
Hi @steevanb The format is called Approxidate (already mentioned by the documentation). What it supports and not gets continuously updated. You can specify everything from strings to linux timestamps. Supplying some kind of complete documentation isn't really possible, as it is a floating implementation. Gitinspector simply calls since/until when it executes git exactly the way you specify it.

yo

[2018-07-25 14:00] #185 closed

[2018-07-25 14:02] rameshrr commented on #183
Understood..

fyi, I'm using windows command prompt(windows 10).

It will be better if application handles the exception and prints some useful message to the user - Just my thoughts :)

[2018-07-25 15:36] steevanb commented on #185
Thanks!

[2018-08-14 10:07] jamesquilty commented on #177
Some more information: when run from a directory which contains a .git folder the expected output is produced:
[code]
but, when run from a directory which does not contain a .git folder, the above `Error processing git repository at "..."` is reported.

[2018-08-16 10:36] AUTplayed opened #187 "Running out of memory, catching the OSError exception"
Hi, when I try to inspect a very large repository I'm getting these errors:

[code]

Checking my memory usage results in 8GB/8GB used.

You probably won't be able to do anything against this, but just wanted to let you know..

[2018-08-23 13:14] yogesh9391 commented on #24
Hey adam-waldenberg,
Can you please provide whole command to use for multiple repositories? I have following command for me.
`python /opt/gitinspector/gitinspector.py -HTlr --grading --file-types=sh,yml,yaml,py,conf --format=htmlembedded  <repo1_path> <repo2_path>  > output.html`
How should I use `-m` option incase of multiple repos ??

[2018-08-23 15:17] adam-waldenberg commented on #187
@AUTplayed Gitinspector itself doesn't really require that much memory... All it does is keep a hashmap of authors/insertions+deletions and some other information... However, when running, it does starts multiple git instances.

Gitinspector will start as many git instances as there are cpu threads in the system. As you can see from the exception, this is also where things fail.

So if you are run

[2018-08-23 15:27] yogesh9391 commented on #24
Thanks Adam.
I was using .0.4. I will try with version .0.5

[2018-09-03 09:41] yogesh9391 commented on #24
Hi Adam,
Back again :(
I am able to generate consolidated report successfully. However, this report has all the others from all the repos making it difficult to segregate them. Any option for this? means Any way to identify relationship between author and repository.

[2018-09-10 08:57] patriciainez opened #188 "Grading option"
Hi there.

Could one of you please give me a little bit of explanation about the grading option besides what is in the documentation page?

"Show statistics and information in a way that is formatted for grading of student project; this is the same as supplying -HlmrTw."

I generated a few reports with and without this options and I notice that - in some cases - the numbers in the first two tables

[2018-09-16 19:06] #164 closed

[2018-09-20 10:12] yogesh9391 opened #189 "getting warning messages related to diff.renameLimit"
I am getting following warning messages while running gitinspector on my git branch.

    warning: you may want to set your diff.renameLimit variable to at least 3771 and retry the command.  gitinspector version is `0.5.0`.   Also, the reports are also not correct.  Is it affecting to the reports? if yes, does anyone knows fix for it??

[2018-09-26 07:35] adam-waldenberg commented on #189
Hi @yogesh9391

This is related to git, not gitinspector. From the git documentation,

[code]

[2018-09-26 07:35] #189 closed

[2018-09-26 07:44] adam-waldenberg commented on #188
Hi @patriciainez

As stated in the documentation, `--grading` is just a shortcut/alias for the options `-HlmrTw`. There isn't anything special about it. To answer your questionn `--grading=true` will enable the `-H/--hard` option which will recursively look for ownership of rows. Basically, it will look through the whole history, when looking after who is the original author of a certain row. It's

[2018-09-26 07:44] #188 closed

[2018-09-27 11:34] yogesh9391 opened #190 "gitinspector reports not showing correct number of commits"
Hi,
I am running gitinspector's latest code from master branch as I need to have support for multiple branches. I started with the following command.--

I am running above command once in a week every thursday by changing the "--since" parameter value to get report for the week of my master branch.  After analyzing the report, I cross checked the commits done by author X manually at github and val

[2018-09-27 14:17] yogesh9391 commented on #190
I am getting different statistics than the
`git rev-list --count HEAD --since="Sep 20 2018" --author="<name>`
command.
statistics comparison is as ---
Author git gitinspector
yk	  42	40
Sa 	  51	31
aV 	  32	29
ra 	  34	28
sv 	  19	18
dp 	  12	11
As 	  11	9
U- 	  0		5
Vi	  5	    5
Ra 	  5	    3
vi 	  3     3
e9 	  4	    2
Rv 	  5     1
MB 	  2     1
ST 	  3     1
ro    2     1

TOTAL 230	188

Also

[2018-09-27 20:47] adam-waldenberg commented on #190
Hi @yogesh9391 This seems to be the same issue as the one discussed in #179 . Concerning documentation... I'm not sure what you want to know ? I'm not going to explain the complete output, as the majority uses normal git jargon and should be pretty self-explanatory. Pull requests with better documentation are always appreciated though.

[2018-09-28 10:35] adam-waldenberg commented on #190
@yogesh9391

No. It won't set it unless you specifically do so yourself - but I think there might still be something going on here regardless of if you use `--since` or `--until` ... I think the threading code introduced in `changes.py` might be causing some problems. Regarding the ignored authors - gitinspector always ignores pure binary commits - the use case is to track code and actual work on

[2018-09-28 10:45] yogesh9391 commented on #190
ok adam.
But there are some commits which are having pure code. And they are missed by gitinspector.

[2018-09-28 14:36] adam-waldenberg commented on #190
@yogesh9391

If it's a mixture, it's always counted.

Again, this issue is related to #179 and identified long ago. There you can also find the exact commit that introduced the problem. The solution is to disable the threading in the changes module. You could also run the 0.4.1 version - which does not have this problem.

[2018-09-28 14:36] #190 closed

[2018-09-28 14:43] yogesh9391 commented on #190
Thanks Adam.
I may go with older versions, but it doesnot have support for multiple repositories. Also, the  generated report shows commits having PR + commits. Is there any way to get only PR ?

[2018-09-28 14:48] adam-waldenberg commented on #190
@yogesh9391

I'm actually planning to do some work on the release of 0.5.0 pretty soon and fix most of the issues queued up.

If you are talking about pull requests, then no... A pull requests can be squashed, rebased or merged when accepted. So the information about pull requests is something you see on GitHub, it's not really related to git itself.

[2018-10-01 05:54] yogesh9391 commented on #190
@adam-waldenberg
Thanks adam for the reply.

[2018-10-26 16:00] rudolfolah commented on #135
👍 on this, I *just* started reading [Your Code As Crime Scene](https://pragprog.com/book/atcrime/your-code-as-a-crime-scene) which covers these hotspots in code, the amount of "churn" there is in terms of number of commits for a file plus the number of lines of code in the file can indicate a hotspot.

Very very useful, right now my option is just to use [git log](https://stackoverflow.com/questio

[2018-11-12 22:20] JNajera commented on #92
Sorry for the last late comment.  I have two folders like you recommend @adam-waldenberg one with the branch master and the other with the branch development but I don't get quite right the command to merge the statistics.
[code]
Maybe I'm using the wrong command? Any help will be appreciated. Regards

[2018-11-12 22:49] AndrewC-B commented on #92
What’s the output? Your command looks correct to me. I’ve used similar commands in the past without issue.

[2018-11-12 22:57] adam-waldenberg commented on #24
@yogesh9391 Sorry. I completely missed this comment.

No, there is no way to see what came from what repo. The way to do this is to run gitinspector separately on each individual repo and then run a merged report to get a summary.

[2018-11-12 22:57] adam-waldenberg commented on #92
@JNajera Looks fine to me. Just make sure you are using a gitinspector version that actually supports specifying multiple repos. Too see when and where it was implemented, take a look at issue #24.

[2018-11-12 22:59] JNajera commented on #92
Thanks for your comments! You were right @adam-waldenberg I have version 0.4 instead of 0.5 I will update it and try again. Thanks for the quick response. Regards!

[2018-12-17 21:04] andoalon opened #192 "-h,--help fails if not in a valid repository"
Running the program with `-h` or `--help` does not display the help if a valid git repository is not found. Instead of displaying the help the program prints an error saying no repository was found and exits.
I think the program should output the help regardless, and not display the error
![image](https://user-images.githubusercontent.com/25222137/50115402-8f341700-0247-11e9-87a0-cd7291ef87d5.png)

[2018-12-17 21:40] adam-waldenberg commented on #192
This is a duplicate of #177 and only affects master. Please refer to that issue for more information.

[2018-12-17 21:40] #192 closed

[2019-01-24 12:20] jeffery9 opened #193 "[0.5.0dev] report lost some author"
as title
run command `gitinspector  -F html -w -T -r -L` lost some author in report.

[2019-02-06 15:46] isbkch commented on #193
I got the same here, some authors are not picked up

[2019-02-11 06:08] 370672701 commented on #187
when will publish the 0.5.0 version?

[2019-02-11 10:20] adam-waldenberg commented on #193
Hi. First - this does not help. You need to provide more information. What are you scanning ? What files did these authors actually commit? Before opening issues like these, please read the documentation on how gitinspector actually works. Authors are only shown if they actually commit one of the extensions specified, otherwise they are filtered out.

[2019-02-11 10:22] adam-waldenberg commented on #187
@370672701 When I have time to sit down with gitinspector. There is no estimated release date at the moment.

[2019-03-13 18:38] piffy opened #195 "Pair programming support"
The program does not recognize at all the recent PP addition to github, i.e. joint commits. Mostly explpained here

https://hackernoon.com/power-up-your-pair-programming-with-co-authored-commits-on-github-ffb5d049aed3

[2019-04-02 08:14] emilppp opened #196 "Get cyclomatic complexity metrics for all files"
Hi! :)

Is there any way to get cyclomatic complexity metrics for all files, not only the elevated ones? I want to get an average cyclomatic complexity across all files in a project.

[2019-04-14 10:32] adam-waldenberg commented on #195
Co-authored-by is not handled by git in any way. So it would be impossible to track any statistics in any coherent or clean way. Closing.

[2019-04-14 10:32] #195 closed

[2019-04-14 10:33] adam-waldenberg commented on #193
Seeing as this is most probably a result of a lack of understanding of how gitinspector actually works I'm closing this issue.

[2019-04-14 10:33] #193 closed

[2019-04-14 10:42] adam-waldenberg commented on #196
Hi @emilppp. You can edit metrics.py and play with the constants;
[code]
These specify the required value needed for the metric to be considered elevated. Set them to zero and you should get it for all files.

[2019-05-25 09:25] couchdeveloper opened #197 "After Installation on macOS: Error "unknown locale: UTF-8""
Hi Everyone,

this tool looks very promising and I decided to take a look at it.

So, I tried to install gitinspector first. There's no installation instruction in the README file, but elsewhere in the Documentation, it tells me that npm can be used. So I tried installing gitinspector on macOS via npm. Using `brew` as installer would be a nice option, too ;)

After figuring that it requires sudo (

[2019-07-01 09:50] cytown commented on #197
LANG=en_US.UTF-8 LC_ALL=en_US.UTF-8 python2 gitinspector.py

[2019-08-07 12:18] iranzo opened #198 "Pip package requirements"
When trying to pip install the package it fails because of missing 'requirements.txt'

- localization
- numpy
- scipy
- shapely

(later it fails because of possible wrong code like localization.init, etc)

[2019-08-27 17:48] jpadhye opened #199 "How to mark commit authors as duplicate"
I'm trying to run stats on my repository. It seems same author has committed with different GIT configuration so following shoes up in result. How can I tell the tool to use the author as same. If we can provide the tool with a map of duplicate author names then it would be really useful.

[code]

[2019-08-27 19:01] #199 closed, assigned to nobody

[2019-09-24 02:55] zanehiredevs opened #200 "0.5 latest release?"
Hi I see a v0.5 release mentioned in issues but don't see where to download it, the releases page only has v0.4..  What is the recommended method to upgrade and stay on top of the lates release?  Thanks.

[2019-09-26 17:32] sandrotosi opened #201 "port gitinspector to Python 3"
in order to switch the debian package to python3, i ran 2to3 on gitinspector source code and adjust a few smaller issues (tabs vs spaces, 2to3 mistakes) and verified the tool still works. attached is the patch i used (based on 0.4.4)

[port-to-python3.patch.txt](https://github.com/ejwa/gitinspector/files/3659102/port-to-python3.patch.txt)

[2019-09-27 12:00] adam-waldenberg commented on #200
Hi. Latest release is 0.4.4.

[2019-09-27 12:00] #200 closed

[2019-09-27 12:03] adam-waldenberg commented on #197
This is an old issue covered several times before. Some versions of OSX are incorrectly setup. Not a bug in gitinspector per say, but rather a problem in your system.

Closing this.

[2019-09-27 12:03] #197 closed

[2019-09-27 12:06] adam-waldenberg commented on #198
We don't support PIP. The method of install is to use setup.py and setuptools or a derivate. If you want PIP support, please provide a pull request.

[2019-09-27 12:06] #198 closed

[2019-09-27 12:08] adam-waldenberg commented on #201
Python3 is already supported. Closing.

[2019-09-27 12:08] #201 closed

[2019-09-27 12:12] iranzo commented on #198
Package is provided at pypi: https://pypi.org/project/gitinspector/

So I would expect it to install natively with pip, and if not taken down

[2019-09-27 12:14] sandrotosi commented on #201
so maybe you want to release a new version, the last release if from 2016......

[2019-09-27 13:39] adam-waldenberg commented on #201
Yes. When I have time to implement the planned features for 0.5.0, I will. Currently though I have a full schedule with a few other projects.

[2019-09-27 13:41] adam-waldenberg commented on #198
@iranzo Anybody can put packages up on pypi. You should contact the maintainer of that package. Also, that version is very, very old.

[2019-10-09 07:05] #111 closed

[2019-10-29 12:29] schumannd commented on #143
Does this document exist somewhere? I couldn't find it in the wiki or the README

[2019-11-11 12:31] adam-waldenberg commented on #143
@schumannd At the moment it's not properly documented.

You can read about stability here, https://github.com/ejwa/gitinspector/issues/111#issuecomment-218405073

The age is just the average age of all the lines of code that the author currently has active in the repository.

[2019-11-16 13:00] iggar opened #202 "Brazilian Portuguese translation"
Hello,
I'm a native Brazilian Portuguese speaker, had experience translating apps before and I would love to collaborate and add that support.

[2019-11-26 06:14] AlexIII opened #203 "Add an option to select output language manually"
I tried to change system language with `LANG=...`, but it seems to have no effect. In any way, it is not very convenient to change your system language.

[2019-11-26 06:20] adam-waldenberg commented on #202
Hi @iggar. That would be great, as long as you are willing to maintain it. Just create a pull request and I'll look at it :)

[2019-11-26 06:27] adam-waldenberg commented on #203
The standard way for console tools to change language is to simply do,

`LANG=en_US gitinspector --help`
`LANG=sv_SE gitinspector --help`

This goes for everything, not only gitinspector. If we add an option it would conflict with the standard way of doing things, so I won't do that.

Closing this.

[2019-11-26 06:27] #203 closed

[2019-11-26 06:46] AlexIII commented on #203
Ok, but your command `LANG=sv_SE gitinspector --help` didn't work for me (ubuntu 18.04 in WSL). I'm guessing it should display help in swedish, but it falls back to english.

[2019-12-10 12:11] danilovesky opened #204 "Add a row about Total commits/insertions/deletions for all the authors"
Currently the main statistics table looks as follows:
[code]

It would be useful to add an extra row summarising the total changes for all the authors, e.g. like this (with the whole **Total** row being highlighted the same way as the table header):
[code]
Note that there is an empty row in HTML output that can hold this additional information.

[2020-01-30 16:08] danieldietsch opened #205 "Similar to --exclude, add an --include option"
It would be nice if one could specify which paths to include in stat generation, and simply exclude everything else.

[2020-01-30 17:17] adam-waldenberg commented on #205
Already available via regular expressions.
See https://github.com/ejwa/gitinspector/wiki/Documentation#filtering

[2020-01-30 17:17] #205 closed

[2020-01-30 17:26] adam-waldenberg commented on #203
Are you using the latest stable release or the master branch? I think the master branch needs some additional work with the localization and can have some problems. Also note that you have to use `-L  --localize-output[=BOOL]` to enable localization of the actual output if that's what you are after.

[2020-01-30 17:39] AlexIII commented on #203
I'm using 0.4.3 from ubuntu repos. I realize I need to add `-L`. Here's the full command that I've tried
` LANG=sv_SE gitinspector -L -T --grading -F htmlembedded --since=10/28/2019 > stat.html`
The html output is still in english.

[2020-01-30 17:46] adam-waldenberg commented on #203
That locale probably is not defined then.
Try `LANG=sv_SE.UTF-8` and see if it makes a difference.

[2020-01-30 17:53] AlexIII commented on #203
It didn't. What do you mean "is not defined"? My system needs to be somehow "aware" of the language I'm trying to use?

[2020-01-30 18:13] adam-waldenberg commented on #203
Yes, the locale has to be supported/enabled on the system. You can read about GNU gettext localization (which is what gitinspector and most other console tools use) here, https://www.gnu.org/software/gettext/manual/html_node/Locale-Names.html

To list the supported locales on your system you can execute `locale -a`. Debian and Ubuntu offer tools to add/generate additional locale to the system if i

[2020-01-30 18:22] AlexIII commented on #203
I see. `locale -a` reports that I have `ru_RU.utf8`. I tried that too, still didn't work...

[2020-01-30 18:23] adam-waldenberg commented on #203
There is no russian translation in gitinspector.

[2020-01-30 18:27] adam-waldenberg commented on #203
@AlexIII

The russian translation was never really completed - you can see the status of the tranlsation here,

https://github.com/ejwa/gitinspector/issues/27

Feel free to finish it an contribute a pull request.

[2020-01-30 18:30] AlexIII commented on #203
Ok, I'll look into it and try to figure out what is supposed to be done.

[2020-01-31 08:34] danieldietsch commented on #205
So you mean if I only wanted to include things from ``projectname/`` I would add
``-x "file:^(projectname/)"`` as flag?

[2020-02-03 06:05] shyingsheng opened #207 "How to analyze multi git repo"
Hi,

This tool is really cool.
But I just want to know whether it is supported to analyze multi git repo? Now in my team, there are many git repositories, I just want to have one report which include all my interested git reposities.

Look forward to your reply.

Thank you.

[2020-02-06 03:38] shyingsheng commented on #207
Yes, I have known the way to analysis multi repo. So close the issue.

Thanks anyway.

[2020-02-06 03:38] #207 closed

[2020-03-18 23:13] adam-waldenberg commented on #204
Thank you @danilovesky.
Will add this to the todo list.

[2020-03-26 20:15] sidshank commented on #92
Out of curiosity, why was #67 closed? I'm looking into using gitinspector to get stats on subfolders within a monorepo. It looks like #67 would have provided that capability.

[2020-04-05 19:14] WouterButhker opened #208 "Add support for unicode characters"
I'm trying to run the gitinspector on my repository but it seems to fail because there is a contributor with a special character (ă) in her name
[code]

[2020-04-06 06:01] adam-waldenberg commented on #208
Hi @WouterButhker. Not a gitinspector issue. You don't have a an encoding that can show that character set in your terminal. This is why you get "unknown". There are other older issues that discuss this. #161 is one example.

In a nutshell, gitinspector will ask your terminal for the encoding. If the terminal can't map it this is the error you get. One solution is to redirect the output to a file

[2020-04-06 06:01] #208 closed

[2020-05-07 13:11] raoulkent opened #209 "Co-authorship not supported"
# Problem statement
For courses where students are pair programming, this may not be reflected by the commits. As full authorship will go to the author of the commit.

# Proposed solution
[Co-authorship is supported on Github](https://help.github.com/en/github/committing-changes-to-your-project/creating-a-commit-with-multiple-authors#creating-co-authored-commits-on-github), and would do well to be

[2020-05-07 17:53] Spacarar commented on #92
I know it's been a long time since this issue has been active, but does this syntax work only with remote repositories? I've been trying to figure out how to do this with a local repository without success.

[2020-05-07 22:58] adam-waldenberg commented on #92
Still on the todo list @Spacarar. Most likely branches will be checked out to a temporary location and checked once this is implemented - similar to how 0.5.0 supports http(s)// repositories.

[2020-05-07 23:03] adam-waldenberg commented on #209
Discussed earlier. The Co-authored-by feature in on GitHub is garbage and does not allow you track the history properly. I have concluded it's not possible to implement. Because commands such as `git blame` (and other commands) etc are not aware of this feature. If we just parse it on the gitinspector side the analysis will not be correct.

With that said, If you can implement it with all the anal

[2020-05-07 23:03] #209 closed

[2020-05-08 02:18] adam-waldenberg commented on #92
Completely missed your comment. But as stated in #67 you can already filter sublfolders or target subfolders using regular expressions. For example, `-x '^(?!(subdir/))` would only show statistics for files in `subdir`.

[2020-05-08 15:43] raoulkent commented on #209
I see what you mean.

What do you mean here?
Signing it with a custom author that would represent the multiple authors? I do not know of anything beyond  `git commit --author=<author> `, is this what you mean (custom author on specific commits)?

[2020-05-20 18:05] DominikDitoIvosevic commented on #172
Hey @adam-waldenberg , any update on this? Could you maybe how these somehow on github?

[2020-05-29 04:31] jedateach commented on #172
It's difficult to get interested in a project without being able to see examples.

[2020-06-17 09:31] adam-waldenberg commented on #172
Thanks @DominikDitoIvosevic @jedateach. Let me take a look at this. It's really just a missing application on the server I need to reinstall.

[2020-07-05 21:17] fuhrmanator opened #210 "GitHub action in GitHub classrooms (automatic test, new feature)?"
GitHub Classrooms has added (beta?) support for automatic tests (that are run via [GitHub actions](https://docs.github.com/en/actions)), and I (as a professor) thought it would be super useful to run gitinspector automatically in a GitHub action when students have submitted an assignment.

I searched for GitHub action use of gitinspector, but didn't see anything yet. Trying to save some time to se

[2020-07-05 22:34] fuhrmanator opened #211 "How to get a report for only `.test.ts` files in a `/test` directory?"
Hello - thanks for making and contributing gitinspector!

My students have to write tests, too, and they're in `.test.ts` files in a `/test` directory, e.g., `test/useCase01.test.ts`. I have tried to get a report for only tests, and haven't succeeded yet:

- I tried using `-f test.ts` as an extension, but it's not recognized.
- Following the `-x "author:^(?!(John Smith))"` in the documentation, I

[2020-07-06 00:01] adam-waldenberg commented on #211
@fuhrmanator

Here is a test run on the gitinspector repo targeting the `translations` directory and only considering the .po extension:

[code]

If you want to be more broad and catch all `translations` directories you would do something like, ```-x 'file:^(?!(.*translations))'```

Also note there might be a difference between using single quotes vs double quotes depending on what terminal you ar

[2020-07-06 00:10] adam-waldenberg commented on #210
@fuhrmanator Sounds like a very good idea. I never tried it (not yet anyway). But I hope you report back if you can make it work.

As a simple alternative gitinspector can be used with git hooks - then it's just a matter of invoking a simple shell script with the hook.

[2020-07-06 03:42] fuhrmanator commented on #211
Thank you - it worked with `-x 'file:^(?!(test))' -f ts` -- I wasn't aware that the `-f ts` was also needed, but it makes sense now.

[2020-07-06 03:42] #211 closed

[2020-07-11 21:55] fuhrmanator commented on #203
I'm trying this in Windows 10 with git bash and also in Ubuntu (WSL):

`LANG=fr_FR.UTF-8 gitinspector --help`

The result is always English for me (as well as if I use it to generate HTML files).

[2020-07-11 22:01] fuhrmanator opened #212 "--version crashes (Windows 10, installed with npm)"
On Windows 10, in either WSL or git bash, with `gitinspector` installed in `npm`, the following command crashes:

`gitinspector --version`

[code]

[2020-07-11 22:20] adam-waldenberg commented on #212
@fuhrmanator Your shell is incorrectly set up, so python is unable to output character set is unable to show the characters. Hence the error you get with the maping to `undefined`.

[2020-07-11 22:23] adam-waldenberg commented on #203
@fuhrmanator You need to have that locale enabled in your system for it to pick it up.

Did you try `locale -a` as mentioned ?

[2020-07-12 01:35] fuhrmanator commented on #203
Yes, `locale -a` shows `fr_CA.utf8` (different from what I was trying). However, even with:

`LANG=fr_FR.utf8 gitinspector --help`

it's still English. I tried several variants (`locale -a` shows many for fr). I also tried the `sv_SE` and others, nothing changes.

[2020-07-12 11:55] adam-waldenberg commented on #203
@fuhrmanator None of this is specific to gitinspector. Try the same for something like the `ls` command... It should work exactly the same. If it doesn't work for `ls` it wont work for `gitinspector` and means you are missing something on your system.

Make sure you are using 0.4.4. Did you install gitinspector via the debian package? If you installed it some other way, maybe it's just unable to f

[2020-07-12 15:22] fuhrmanator commented on #212
Thanks! Here is the solution for me:

https://github.com/pyupio/safety/issues/119#issuecomment-552320680

[2020-07-12 15:22] #212 closed

[2020-07-12 16:46] fuhrmanator commented on #203
Ok, it's not working for `ls` in git bash, so I will pursue that.

For my WSL, there were no locales for French, so [I added them using this process](https://askubuntu.com/a/76106/148933) and basic commands now work:

    $ LANG=fr_FR date
    dimanche 12 juillet 2020, 11:32:09 (UTC-0400)

With `gitinspector` installed with npm it's `gitinspector@0.5.0-dev-2` which I use for simplicity with my stu

[2020-07-12 19:26] adam-waldenberg commented on #203
@fuhrmanator

As you figured out - No, it's not a bug. If you want stable translations, please use the stable version (0.4.4). If a string changes (which it has in the master branch, there is no translation available until the language files are updated. I don't recommend using 0.5.0 until it's actually released and marked as final.

Translations are only done just prior to new releases. One of th

[2020-07-12 20:23] fuhrmanator commented on #203
I did some more digging, and even on the v0.4.4 version `--help` doesn't work in French. Also, one line ("The following historical commit information, by author, was found.") of the HTML report has an English message (everything else was properly translated). I suspected it was a .mo problem because I couldn't find that precise message anywhere...

I was able to fix both problems in v0.4.4 by re-g

[2020-08-30 00:08] ybnd opened #213 "`TypeError: 'bool' object is not iterable` after npm install"
Hi,

I can't get gitinspector to run from the `npm`package; after a clean install it crashes with

[code]

**Environment:**
* 5.8.0-2-Manjaro
* Python 3.8.5
* npm 6.14.4

[2020-08-30 00:09] ybnd commented on #213
Right, it's for python2

[2020-10-14 19:33] christo8989 opened #214 "Add: The following files have an elevated cognitive complexity (in order of severity)"
I like to analyze code by the cognitive complexity standard. It would be cool to have this section in addition to cyclomatic complexity.

https://docs.codeclimate.com/docs/cognitive-complexity

Example:

Complex

[code]

Not Complex

[code]

[2020-10-15 09:12] adam-waldenberg commented on #214
Hi @christo8989. For what we are targeting with gitinspector this may indeed be a very useful metric... Found this article comparing cyclomatic and cognitive complexity,

https://tomasvotruba.com/blog/2018/05/21/is-your-code-readable-by-humans-cognitive-complexity-tells-you/

[2020-10-19 08:28] #196 closed

[2020-10-19 08:32] adam-waldenberg commented on #176
Closing this, as getting it cleanly integrated into any of the other output modes seems quite difficult.

[2020-10-19 08:32] #176 closed

[2020-10-19 08:33] adam-waldenberg commented on #179
Bumping to 0.5.0 milestone.

[2020-10-19 08:34] adam-waldenberg commented on #169
Adding this to the todo list as a preliminary task.

[2020-10-19 08:35] adam-waldenberg commented on #167
No additional feedback on this one, so closing.

[2020-10-19 08:35] #167 closed

[2020-10-19 08:39] adam-waldenberg commented on #161
I have decided to catch this exception and let the error message point to some of the issues here on the project page. This should let people that run into this problem to more effectively understand it and remedy it.

[2020-10-19 08:41] adam-waldenberg commented on #144
Swift support added with #156, this will be merged into 0.5.0

[2020-10-19 08:43] adam-waldenberg commented on #202
No additional news on this, so closing.

[2020-10-19 08:43] #202 closed

[2020-10-19 08:46] adam-waldenberg commented on #135
Adding this to the 0.5.1 milestone.

[2020-10-19 08:47] adam-waldenberg commented on #123
Bumping this to the 0.5.0 release

[2020-10-19 08:51] adam-waldenberg commented on #108
Scheduling this for 0.5.0

[2020-10-19 08:52] adam-waldenberg commented on #107
No feedbacj received concerning this, so closing.

[2020-10-19 08:52] #107 closed

[2020-10-19 08:56] adam-waldenberg commented on #99
Will finally be added to 0.5.0

[2020-10-19 08:58] adam-waldenberg commented on #88
If someone needs this one, please provide a pull requests. Closing for now.

[2020-10-19 08:58] #88 closed

[2020-10-19 09:00] adam-waldenberg commented on #86
Added with #166 - will be merged in 0.5.0.

[2020-10-19 09:01] adam-waldenberg commented on #83
Bump to 0.5.1.

[2020-10-19 09:01] adam-waldenberg commented on #72
Bump to 0.5.1.

[2020-10-25 15:52] adam-waldenberg commented on #210
If anyone has some tips and tricks or willing to contribute on this please raise your hand.

[2020-10-25 19:36] fuhrmanator commented on #210
@adam-waldenberg we made some progress this fall on this - I'm trying to document what we did so we can share the experience.

[2020-11-03 20:10] FeXd commented on #213
This should be re-opoened. `gitinspector` has supported Python 3 for a long time.

It appears this is a recent break due to Python 3.8.x.

I can run everything fine using Python 3.6.6 but today I upgraded to 3.8.5 and am getting the same error you were.

[code]

**Environment:**
* MacOS: 10.15.7
* Python: 3.8.5
* npm: 6.14.7

[2020-11-06 00:48] adam-waldenberg commented on #213
Indeed. It seems to be something in the gettext module that has changed. There is a patch in debian atm for reference that you could try @FeXd.

https://sources.debian.org/patches/gitinspector/0.4.4+dfsg-9/Drop-superfluous-argument-to-NullTranslations.install.patch

Though, unlike the patch, I think `install(unicode=True)`might be the "right" call here. I'm planing on doing some compatibility test

[2020-11-08 18:47] rkochar commented on #213
I too use Python 3.8.5 and was getting the same error as others on this post, tried the old faithful delete and re-installed, get this error. I am not sure if this is or not related to this post but I suspect it's related to the python version.

[code]

[2020-11-29 17:36] banbar commented on #161
I have received a similar error:
UnicodeEncodeError: 'charmap' codec can't encode character '\u011f' in position 380: character maps to <undefined>
Python version: 3.7

Found the solution: [https://stackoverflow.com/a/57134096/1959766](https://stackoverflow.com/a/57134096/1959766)

[2020-11-29 22:48] adam-waldenberg commented on #161
@banbar Thank you. I don't think that Windows-specific solution has been covered anywhere on the issue tracker so far. I know it's more a Python and terminal thing than it is a gitinspector thing, but it I'm considering doing a F.A.Q/Wiki with common environment related issues that can be encountered. Maybe link into the issue tracker etc.

Now and again this (or related issues) keep coming up.

[2020-12-09 17:26] hobson opened #215 "Report examples redirect to waglys waiting lists"
A potential new user or contributor would like to view an example report for projects like Django, but the README.md links to thos reports redirect to the signup page for waglys and that service requires them to provide private information (only allows big tech social network single-signon).

[2020-12-09 17:56] hobson opened #216 "pip install fails on python3.8"
## Environment

Ubuntu 20.04
Python 3.7.9: `conda create -n py38 'python>=3.8,<3.9' && conda activate py38`

## Reproduce

1. activate a python 3.8+ environment
2. pip install from pypi or from source: git clone git@github.com:ejwa/gitinspector && cd gitinspector && pip install -e .

## Traceback

[code]
## Workaround
downgrade to python <3.8

[2020-12-10 13:49] maccuaa commented on #216
Removing `True` from that line worked for me - [localization.py:71](https://github.com/ejwa/gitinspector/blob/master/gitinspector/localization.py#L71)

[code]

Python 3.9.0
macOS 10.14.6

[2020-12-13 07:49] adam-waldenberg commented on #216
Yep - seems the API changed here in more recent bindings of gettext. Will take a proper look for the next release. Thank you for the report and solution.

[2020-12-16 12:16] jep84 opened #217 "Brazilian Portuguese Translation"
Hey! I want to contribute to this project by translating it to Brazilian Portuguese.

[2020-12-31 08:26] ezhukovskiy commented on #213
still not fixed?

[2020-12-31 09:55] adam-waldenberg commented on #216
Closing this, as it is a duplicate. See #210 for the original reported issue.

[2020-12-31 09:56] adam-waldenberg commented on #216
Closing this, as it is a duplicate. See #213 for the original reported issue.

[2020-12-31 09:56] #216 closed, assigned to adam-waldenberg

[2020-12-31 10:00] adam-waldenberg commented on #213
Not yet  @ezhukovskiy . Until its included in a release - temporary fix available in in #216 and the comment above. I need to make sure it works with all versions of the gettext dependency.

[2021-01-14 11:54] ankostis commented on #201
Then please, re-open this issue, to keep an eye on the port (or accept PRs).

[2021-01-14 11:58] ankostis commented on #201
Sorry, just discovered #213 (or #216) was the culprit, not python-3 incompatibility in general.

[2021-01-14 21:14] adam-waldenberg commented on #201
@ankostis  No... But it does need some updates to be compatible with some recent API changes. I need to be sure I don't break backward compatibility, though - Worst case I'll just catch the exceptions and try different calls.

[2021-01-27 10:36] wstomv commented on #114
I also found this terminology confusing. I looked in vain to find out what `gitinspector` considers a _row_. Rows are for databases and tables; source code has _lines_ (LOC = lines of code); I have never seen a LOC referred to as _row_ (except now, in `gitinspector` :-).

Suggestions:
* Devote an item in the **FAQ** to this.
* (Better) Provide (more) **documentation on the metrics**, and explain t

[2021-02-11 06:51] banbar opened #218 "Stability, Age, % in comments"
What does "**Stability**", "**Age**", "**% in comments**" indicate and how these values are calculated?

[2021-02-11 14:57] adam-waldenberg commented on #218
Covered in #111, see that issue for more information. Documentation pull requests are welcome though, if you want to extend the Wiki.

[2021-02-11 14:57] #218 closed, assigned to nobody

[2021-02-11 17:05] banbar commented on #111
What could a stability value of 843.6 may mean?
At the timeline, I have observed that there are activity spanning more than four weeks, but the Age the value is less than 1. How could that be?
For each developer, timeline has two colors: presumably, claret red represents deletions and green additions - is that so?

[2021-02-11 18:35] adam-waldenberg commented on #111
@banbar A stability value over 100 means that more rows have been attributed to an author than he has actually inserted (in the case of 843 - more than 8 times more). This can happen if some other developer for example inserts duplicate code that git attributes to the original author.

Red is deletion and green is insertions - correct.

Age is the average age of the *remaining rows* that a certain

[2021-03-16 12:27] yoshivda opened #220 "AttributeError: 'Commit' object has no attribute 'timestamp'"
When running gitinspector (on a non-public repository) I get the following error:

[code]

The call to `Commit.__init__` is made with an empty string, but I have no clue why.

[2021-03-22 16:41] ojacques commented on #220
@yoshivda - just had the same problem, which I got rid with this workaround: https://github.com/ejwa/gitinspector/issues/118#issuecomment-258506482

[2021-04-05 18:03] nishanthkumar23 commented on #213
Hi,

  I am getting the same error running on latest python version '3.9.4' with below 'gitinspector' command. can you please help me with this?

**Environment**:

**windows**: 10 Enterprise
**Python**: 3.9.2
**npm**: 7.7.6

**Logs**:

[code]

[2021-04-07 12:38] Some1Somewhere opened #221 "Add Support for Dart"
Dart (In Flutter) is something that I feel is pretty commonly used now.
It would be useful to add support for Dart files

[2021-04-13 11:10] iongion opened #222 "Ability to combine different names of the same author under the same person stats"
In old projects where git configuration has changed over time, it is more fair to combine authors that are the same person, but using different git configuration, example:

[code]

Are the same person

[2021-04-13 16:34] adam-waldenberg commented on #222
This is a feature in git and does not belong in gitinspector - there are issues about this on the tracker. It's also covered in the https://github.com/ejwa/gitinspector/wiki/FAQ

[2021-04-13 16:34] #222 closed, assigned to nobody

[2021-04-13 16:35] adam-waldenberg commented on #221
Thank you. Will put it in the queue. Would you be willing to do a pull request ?

[2021-04-13 17:15] iongion commented on #222
Thank you @adam-waldenberg - quite useful

[2021-05-01 18:55] thiagodp commented on #216
Python 3.9.4 on Windows 10 20H2

It still gives the following error after making [the change](https://github.com/ejwa/gitinspector/issues/216#issuecomment-742532294) proposed by @maccuaa

[code]

Removing `True` from [`localization.py:106`](https://github.com/ejwa/gitinspector/blob/master/gitinspector/localization.py#L106) **worked for me**, although still receiving the following warning:
[code]

[2021-05-01 18:58] thiagodp commented on #213
Hi @nishanthkumar23, [there's a workaround](https://github.com/ejwa/gitinspector/issues/216#issuecomment-830678230) that may work for you while the fix isn't released.

[2021-05-09 16:51] Some1Somewhere commented on #221
Will make an attempt.

[2021-05-09 23:33] adam-waldenberg commented on #221
:+1:

[2021-05-15 11:17] dgruss commented on #9
Doesn't seem to work for me. Locales were already configured properly I think.
[code]

Still:
`
UnicodeEncodeError: 'ascii' codec can't encode character u'\u201c' in position 0: ordinal not in range(128)
`

[2021-05-15 20:35] adam-waldenberg commented on #9
@dgruss It's not - because its trying to encode a UTF-8 character into ascii - which it can't do. This is not a locale issue, but rather a terminal configuration issue.

Your problem is;

[code]

So it's doing exactly what it should. Either change the terminal encoding to whatever the repo uses (UTF-8 in this case), or use the environment variable `PYTHONIOENCODING` to force it into UTF-8 regardle

[2021-05-15 21:29] dgruss commented on #9
Sure, but if you run this on many thousand student repos you'll get
various encodings...?

[2021-05-16 03:04] adam-waldenberg commented on #9
No. The encoding for the terminal where you run gitinspector will always be the same. It doesn't matter what the source encoding is. Essentially, your problem here is that Python is trying to convert and show a character that is not available in the ascii charset. A UTF-8 destination, on the other hand, will support most characters and the conversion will work.

We can't display any data in the te

[2021-05-16 11:26] dgruss commented on #9
Ok, then I'd add one more solution to the list here as PYTHONIOENCODING didn't change anything on my server:

Add to `/usr/lib/python2.7/sitecustomize.py` the code:

[code]

Works then.

[2021-06-16 16:36] ghost commented on #213
Wow, it's almost a year since this issue was created, and it just happened to me too :disappointed:

[2021-06-22 09:04] ossonts opened #224 "Expand "Show" sections by default."
[Apologies if repeated -- but I just cant figure this out.]

Gitinspector v0.5dev

The HTML that is generated has expand tabs for:

"Show minor authors" and "Show rows with minor work"

These are NOT expended by default.

I convert the HTML to a PDF, but the sections remain non-expanded.

Is there a way to expand these by default in the HTML -- so it is visible in the generated PDF?

[2021-06-28 20:36] adam-waldenberg commented on #224
Hi @ossonts. By default? No I don't think so. You should be able to edit the CSS/code and get what you want though. Frankly - we might want to look at adding a real PDF output to gitinspector instead.

[2021-08-16 20:03] abij commented on #213
He, same here! waiting on a proper fix.

Azure DevOps hosted ubuntu agent:
- Py 3.9.6
- gitinspector (0.5.0dev) installed with npm

My "fix" inspired by [maccuaa](https://github.com/ejwa/gitinspector/issues/216#issuecomment-742532294) and [thiagodp](https://github.com/ejwa/gitinspector/issues/216#issuecomment-830678230)

[code]

[2021-09-03 15:21] g4k6m commented on #213
export PYTHONIOENCODING=UTF-8 somehow worked for me.

- win10 + git bash (msys2 embedded to the git)
- py 2.7
- npm 6.14.13

[2021-09-08 14:26] fuhrmanator commented on #108
In the mean time, to analyze the TypeScript part of my projects, I do (in bash):

[code]

[2021-09-18 21:53] fuhrmanator commented on #213
Going a step further from [abij](https://github.com/abij):

Here's something for Windows 10 using %USERPROFILE% for **global install** of gitinspector. (works in git bash):

[code]

[2021-10-20 12:15] banbar opened #226 "TypeError: 'bool' object is not iterable"
My settings: Windows 10

Command:
C:\OSGeo4W\apps\Python39\python.exe gitinspector.py --format=html --timeline --since=2015-09-01 -w https://github.com/banbar/GMT-456-GIS-Programming > C:\Users\banbar\Desktop/1.html

Output:
![image](https://user-images.githubusercontent.com/20798817/138090655-72d1ced0-8e3a-4715-a273-0b589f9b8217.png)

[2021-10-26 17:17] 7henry767 commented on #226
it seems only to work with python 2.x. Probably you are using 3.x

[2021-12-23 06:06] wesleyyoung commented on #213
Still happening

Ubuntu 20.04
Python 3.8

[code]

[2021-12-30 10:08] liubo404 opened #228 "AttributeError: 'NoneType' object has no attribute 'add_filediff'"
Exception in thread Thread-9:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/local/lib/node_modules/gitinspector/gitinspector/changes.py", line 171, in run
    commit.add_filediff(filediff)
AttributeError: 'NoneType' object has no attribute 'add_filediff'

[2022-01-04 19:24] ElvenSpellmaker commented on #213
This worked for me Windows 10, Cygwin, Python 3.8.10.

[2022-01-10 11:40] chr15t0ph opened #229 "Dockerfile and Dockerhub deployment for easy Windows execution"
Hi! Thank you for your great tool!

Could you please add a Dockerfile to your repository? And deploy latest versions to docker, e.g., as ejwa/gitinspector:latest.
The last version on Dockerhub is from Felix Hummel in version 0.4.4 and I would like to get the current version!

This Dockerfile could be used as template for you:

[code]

### Use Case

I am a lecturer in a Windows environment, applyin

[2022-02-23 10:23] sparksmith commented on #213
Still happening when using the search making mylar3 unusable.

Python Version : 3.9.7
Docker running on RaspberyPi4 with Dietpi v8_1

[code]

[2022-02-28 22:39] cujomalainey opened #230 "Authorless commits crash tool"
[code]

Tool was run on https://github.com/zephyrproject-rtos/zephyr

[2022-04-19 21:55] uberkael commented on #230
I "solved" it for plain text (for HTML continues to crash) like this:

[code]

[2022-04-20 16:23] ghost opened #231 "Translation"
Hey, I'd like to add the Slovak translation. Should i just fork the repo and then make a pull request?

[2022-04-27 15:03] #231 closed, assigned to nobody

[2022-05-04 04:50] adam-waldenberg commented on #228
Hi there. Need a little bit more information here. What's the input in this case and what version are you running ?

[2022-05-04 04:51] adam-waldenberg commented on #226
Gitinspector works fine with 3.x. Though, some versions and some API's are constantly changing and breaking backward compatibility - gettext is an example of that.

[2022-05-04 04:53] adam-waldenberg commented on #229
Thanks. When I have time I might look into this.

[2022-05-04 04:54] adam-waldenberg commented on #230
Good catch - By authorless I'm assuming we are talking about an empty author string ? That's actually not permited by git. If you run `git fsck` on such a repo you should get errors. Question is what the correct behavior is here. We could certainly insert a "No Author" user into the result, but it's probably also a good idea to inform users about it and not condone invalid use of git.

[2022-05-10 07:55] ObiWahn commented on #226
Same problem here on mac with brew.

[2022-06-07 15:34] jcdufourd commented on #213
still happens even with the patch on localization.py...
Python version 3.9.13
Mac m1 12.4

[2022-07-05 14:47] fourofspades commented on #226
Same issue on Windows.

[2022-07-07 19:32] Brikwerk commented on #226
Quick note to those with this issue: I was able to get gitinspector to work on macOS with Python 3.7.13. It seems that the gettext API has changed from 3.7 to 3.9. I recommend running gitinspector again with Python 3.7 installed.

[2022-07-26 16:29] MikeJakubik opened #233 "ModuleNotFoundError: No module named 'localization' (python 3.9)"
[root@fbsd /usr/ports/devel/gitinspector]# make install clean

===>  Installing for gitinspector-py39-0.4.4_4
===>  Checking if gitinspector-py39 is already installed
===>   Registering installation for gitinspector-py39-0.4.4_4
Installing gitinspector-py39-0.4.4_4...
===>  Cleaning for py39-setuptools-63.1.0
===>  Cleaning for gitinspector-py39-0.4.4_4

[root@fbsd /usr/ports/devel/gitinspector]#

[2022-09-22 05:01] winstonkgseah opened #234 "AttributeError: 'Commit' object has no attribute 'sha'"
Everything seems to work fine until after completing Resolving deltas: 100% (.../...) then this:

Traceback (most recent call last):
  File "/usr/pkg/bin/gitinspector-3.9", line 33, in <module>
    sys.exit(load_entry_point('gitinspector==0.4.4', 'console_scripts', 'gitinspector')())
  File "/usr/pkg/lib/python3.9/site-packages/gitinspector/gitinspector.py", line 184, in main
    __run__.output()

[2022-09-26 10:30] adam-waldenberg commented on #234
Very strange. What version of git are you running?

[2022-09-26 10:32] adam-waldenberg commented on #233
Thanks. Looks like a breaking change of some sort in Python 3.9.

[2022-09-29 14:07] dirtcrusher commented on #230
I'm having this issue as well on a private (work) repository, and I do not have any authorless commits in the repository.

I'm not familiar with the codebase, but I attempted some debugging.

I found some invalid strings passed to the `Commit` constructor (`1 file changed, 1 insertion(+), 1 deletion(-)`).

When I removed the ` or i is lines[-1]` from [here](https://github.com/ejwa/gitinspector/blo

[2022-11-07 09:28] mkschreder commented on #213
Still happening (latest ubuntu). However localization fix fixed it.

Other warnings though:
![image](https://user-images.githubusercontent.com/4483721/200275135-d43690e3-e066-456e-b566-a9c0005013d5.png)

[2022-11-18 21:14] MB175 commented on #86
Is this still planed ? would love the go support

[2022-11-18 21:37] MB175 commented on #221
@Some1Somewhere would love the dart support, could u accomplish something ?

[2022-11-20 02:34] adam-waldenberg commented on #86
@MB175 Yes. In the meantime just apply the pull request. Not much time for gitinspector lately, but one of these days I will take a week or two to get things up to scratch.